<div id="branding-page" class="carousel slide subpage" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators subpageindi branding-page">
        <li data-target="#branding-page" data-slide-to="0" class="active"></li>
        <li data-target="#branding-page" data-slide-to="1"></li>
        <li data-target="#branding-page" data-slide-to="2"></li>
        <li data-target="#branding-page" data-slide-to="3"></li>
        <li data-target="#branding-page" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner branding-page" role="listbox">
        <div class="item active">
            <div data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="0"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/Libro_2012_Website_1407x875.jpg"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="1"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/Libro_2013_BeYou_Ads_1407x875.jpg"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="2"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/Libro_2015_TV_1407x875.jpg"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="3"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/RCB_2010_DE_IronSpke_Cans_1407x875.jpg"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="4"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/RCB_2010_DE_Poster_1407x875.jpg"/>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#branding-page" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#branding-page" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
</div>