<div class="gallery-carousel-page">
    <div class="modal fade and carousel slide gallery" id="lightbox" tabindex="-1" role="dialog" aria-hidden="true">
        <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev">
            <div class="left-arrow"></div>
        </a>
        <a class="right carousel-control" href="#lightbox" role="button" data-slide="next">
            <div class="right-arrow"></div>
        </a>
        <!-- Close -->
        <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close"></a>

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="carousel-inner" class="carousel-inner gallerypage"></div>
                    <!-- /.carousel-inner -->
                    <ol id="carousel-indicators" class="carousel-indicators gallerypage"></ol>
                </div>
                <!-- /.modal-body -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
