<div id="humanpage" class="carousel slide subpage" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators subpageindi humanpage">
        <li data-target="#humanpage" data-slide-to="0" class="active"></li>
        <li data-target="#humanpage" data-slide-to="1"></li>
        <li data-target="#humanpage" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner humanpage" role="listbox">
        <div class="item active">
            <div data-target="#lightbox-human-page" data-toggle="modal" data-slide-to="0"
                 class="slide-container">
                <img class="lazy" src="/templates/dist/img/gallery/CMHA_FB_1407x875.jpg" alt="CHMA facebook" width="1407" height="875"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-human-page" data-toggle="modal" data-slide-to="1"
                 class="slide-container">
                <img class="lazy" src="/templates/dist/img/gallery/SJH_IOH_Poster_1407x875.jpg" alt="ST JOES in our house" width="1407" height="875"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-human-page" data-toggle="modal" data-slide-to="2"
                 class="slide-container">
                <span class="video-play-icon"></span>
                <img class="lazy" src="/templates/dist/img/video-thumbnails/st_thomas-thumbnail.jpg" alt="ST. THOMAS TV" width="1280" height="720"/>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#humanpage" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#humanpage" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
</div>
