<div id="integrating-page" class="carousel slide subpage" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators subpageindi integrating-page">
        <li data-target="#integrating-page" data-slide-to="0" class="active"></li>
        <li data-target="#integrating-page" data-slide-to="1"></li>
        <li data-target="#integrating-page" data-slide-to="2"></li>
        <li data-target="#integrating-page" data-slide-to="3"></li>
        <li data-target="#integrating-page" data-slide-to="4"></li>
        <li data-target="#integrating-page" data-slide-to="5"></li>
        <li data-target="#integrating-page" data-slide-to="6"></li>
        <li data-target="#integrating-page" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner integrating-page" role="listbox">
        <div class="item active">
            <div data-target="#lightbox-integrating-page" data-toggle="modal" data-slide-to="0"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/SJH_W5_Brochure_1407x875.jpg" />
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-integrating-page" data-toggle="modal" data-slide-to="1"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/SJH_W5_Ad_1407x875.jpg"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-integrating-page" data-toggle="modal" data-slide-to="2"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/SJH_W5_Web_1407x875.jpg" />
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-integrating-page" data-toggle="modal" data-slide-to="3"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/SJH_W5_tv_1407x875.jpg" />
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-integrating-page" data-toggle="modal" data-slide-to="4"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/BRI_Banner_1407x875.jpg" />
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-integrating-page" data-toggle="modal" data-slide-to="5"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/BRI_Centre_1407x875.jpg" />
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-integrating-page" data-toggle="modal" data-slide-to="6"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/BRI_Vehicle_1407x875.jpg" />
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-integrating-page" data-toggle="modal" data-slide-to="7"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/BRI_Catalogue_1407x875.jpg" />
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#integrating-page" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#integrating-page" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
</div>
