<div id="orienteering-page" class="carousel slide subpage" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators subpageindi orienteering-page">
        <li data-target="#orienteering-page" data-slide-to="0" class="active"></li>
        <li data-target="#orienteering-page" data-slide-to="1"></li>
        <li data-target="#orienteering-page" data-slide-to="2"></li>
        <li data-target="#orienteering-page" data-slide-to="3"></li>
        <li data-target="#orienteering-page" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner orienteering-page" role="listbox">
        <div class="item active">
            <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="0"
                 class="slide-container">
                <img class="lazy" data-original="/templates/dist/img/gallery/Bruce_Website_1407x875.jpg" alt="Bruce Website" width="1407" height="875"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="1"
                 class="slide-container">
                <img class="lazy" data-original="/templates/dist/img/gallery/Bruce_2015_MasterToolKit_1407x875.jpg" alt="Bruce kit/box open" width="1407" height="875"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="2"
                 class="slide-container">
                <img class="lazy" data-original="/templates/dist/img/gallery/Bruce_2015_Ktown_BlBrd_1407x875.jpg" alt="Bruce hammer throw bbd" width="1407" height="875"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="3"
                 class="slide-container">
                <img class="lazy" data-original="/templates/dist/img/gallery/HHS_2011_Brochure_Cover_1407x875.jpg" alt="HHS peeps" width="1407" height="875"/>
            </div>
        </div>
        <div class="item">
            <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="4"
                 class="slide-container">
                <img class="lazy" data-original="/templates/dist/img/gallery/HHS_2011_Brochure_Spread_1407x875.jpg" alt="HHS peeps bro" width="1407" height="875"/>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#orienteering-page" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#orienteering-page" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
</div>