<div id="positioning-page" class="carousel slide subpage" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators subpageindi positioning-page">
        <li data-target="#positioning-page" data-slide-to="0" class="active"></li>
        <li data-target="#positioning-page" data-slide-to="1"></li>
        <li data-target="#positioning-page" data-slide-to="2"></li>
        <li data-target="#positioning-page" data-slide-to="3"></li>
        <li data-target="#positioning-page" data-slide-to="4"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner positioning-page" role="listbox">
        <div class="item active">
            <a data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="0"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/NClean_Orange_PrintAd_1407x875.jpg"/>
            </a>
        </div>
        <div class="item">
            <a data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="1"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/NClean_Pregnant_PrintAd_1407x875.jpg" />
            </a>
        </div>
        <div class="item">
            <a data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="2"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/NClean_Pregnant_PrintAd_1407x875.jpg" />
            </a>
        </div>
        <div class="item">
            <a data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="3"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/MISS_EDO_Web_1407x875.jpg" />
            </a>
        </div>
        <div class="item">
            <a data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="4"
                 class="slide-container">
                <img src="/templates/dist/img/gallery/MISS_EDO_Ads_1407x875.jpg" />
            </a>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#positioning-page" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#positioning-page" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
</div>
