### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)

.settings
vendor
!templates/dist/js/vendor
!templates/src/js/vendor
templates/**/node_modules/
templates/node_modules