<div data-id="branding-page" class="tile-container subpage">
    <a data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="0"
       class="tile-item">
        <img class="lazy" src="/templates/dist/img/gallery/thumbnails/Libro_2012_Website_119x119.jpg"
             alt="Libro Web Site / Logo" width="119" height="119" />
    </a>
    <a data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="1"
       class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/Libro_2013_BeYou_Ads_119x119.jpg" alt="Libro Be You Ads"
             width="119" height="119" />
    </a>
    <a data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="2"
       class="tile-item">
        <img class="lazy" src="/templates/dist/img/gallery/thumbnails/Libro_2015_TV_119x119.jpg"
             alt="Libro TV StoryBoard" width="119" height="119" />
    </a>
    <a data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="3"
       class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/RCB_2010_DE_IronSpke_Cans_119x119.jpg"
             alt="Dead Elephant & Iron Spike package" width="119" height="119" />
    </a>
    <a data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="4"
       class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/RCB_2010_DE_Poster_119x119.jpg" alt="Dead Elephant poster"
             width="119" height="119" />
    </a>
    <a data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="4"
       class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/RCB_2010_DE_Poster_119x119.jpg" alt="Dead Elephant poster"
             width="119" height="119" />
    </a>
    <a data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="4"
       class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/RCB_2010_DE_Poster_119x119.jpg" alt="Dead Elephant poster"
             width="119" height="119" />
    </a>
    <a data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="4"
       class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/RCB_2010_DE_Poster_119x119.jpg" alt="Dead Elephant poster"
             width="119" height="119" />
    </a>
</div>