<div id="branding-container" data-id="branding-page" class="tile-container subpage">
    <a href="javascript:void(0)" data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="0"
       class="tile-item no-border">
        <img class="lazy" data-src="/templates/dist/img/gallery/thumbnails/LIBRO_2012_Website_Sacha_119x119.png"
             alt="Libro Web Site / Logo" width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="1"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/Libro_BeYou_Ads_119x119.png" alt="Libro Be You Ads"
             width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="2"
       class="tile-item no-border">
        <span class="video-play-icon"></span>
        <img class="lazy" data-src="/templates/dist/img/gallery/thumbnails/LIBRO_2015_TV_119x119.png"
             alt="Libro TV StoryBoard" width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="3"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/Libro_Video_Money_School_119x119.png"
             alt="Libro Money School" width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="4"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/Libro_Web_Money_School_119x119.png" alt="Libro Web Money School"
             width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="5"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/DeadElephant_Cans_119x119.png" alt="Dead Elephant poster"
             width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="6"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/RCB_2010_DE_Poster_119x119.jpg" alt="Dead Elephant poster"
             width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="7"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/DE_TransitAd_119x119.png" alt="Dead Elephant poster"
             width="119" height="119" />
    </a>
</div>