<div data-id="engaging-page" class="tile-container subpage">
    <a data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="0"
         class="tile-item">
        <img class="lazy" src="/templates/dist/img/gallery/thumbnails/NCU_PS_WebsiteNing_119x119.jpg"
             alt="Purse Strings Website" width="119" height="119" />
    </a>
    <a data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="1"
         class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/NCU_PS_Postcard_119x119.jpg" alt="Purse Strings Round dm piece"
             width="119" height="119" />
    </a>
    <a data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="2"
         class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/CWL_2014spring_Website_119x119.jpg" alt="Commonwell Website"
             width="119" height="119" />
    </a>
    <a data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="3"
         class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/CWL_2015spring_Ad_119x119.jpg" alt="Commonwell Ostrich"
             width="119" height="119" />
    </a>
    <a data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="4"
         class="tile-item">
        <span class="video-play-icon"></span>
        <img class="lazy fit-height" src="/templates/dist/img/video-thumbnails/cwl-thumbnail.jpg"
             alt="CWL Story board" width="1280" height="720" />
    </a>
</div>