<div id="humanpage" class="tile-container subpage">
    <a data-target="#lightbox-human-page" data-toggle="modal" data-slide-to="0"
         class="tile-item">
        <img class="lazy" src="/templates/dist/img/gallery/thumbnails/CMHA_FB_119x119.jpg"
             alt="CHMA facebook" width="1407" height="875" />
    </a>
    <a data-target="#lightbox-human-page" data-toggle="modal" data-slide-to="1"
         class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/SJH_IOH_Poster_119x119.jpg" alt="ST JOES in our house"
             width="1407" height="875" />
    </a>
    <a data-target="#lightbox-human-page" data-toggle="modal" data-slide-to="2"
         class="tile-item">
        <span class="video-play-icon"></span>
        <img class="lazy fit-height"
             src="/templates/dist/img/video-thumbnails/st_thomas-thumbnail.jpg" alt="ST. THOMAS TV"
             width="1280" height="720" />
    </a>
</div>
