<div id="orienteering-page" class="tile-container subpage">
    <a data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="0"
         class="tile-item">
        <img class="lazy" src="/templates/dist/img/gallery/thumbnails/Bruce_Website_119x119.jpg"
             alt="Bruce Website" width="1407" height="875" />
    </a>
    <a data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="1"
         class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/Bruce_2015_MasterToolKit_119x119.jpg" alt="Bruce kit/box open"
             width="1407" height="875" />
    </a>
    <a data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="2"
         class="tile-item">
        <img class="lazy content-carousel-image"
             src="/templates/dist/img/gallery/thumbnails/Bruce_2015_Ktown_BlBrd_119x119.jpg"
             alt="Bruce hammer throw bbd" width="1407" height="875" />
    </a>
    <a data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="3"
         class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/HHS_2011_Brochure_Cover_119x119.jpg" alt="HHS peeps"
             width="1407" height="875" />
    </a>
    <a data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="4"
         class="tile-item">
        <img class="lazy"
             src="/templates/dist/img/gallery/thumbnails/HHS_2011_Brochure_Spread_119x119.jpg" alt="HHS peeps bro"
             width="1407" height="875" />
    </a>
</div>