<div data-id="positioning-page" class="tile-container subpage">
    <a href="javascript:void(0)" data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="0"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/NClean_Orange_PrintAd_119x119.jpg" alt="Nature Clean orange girl"
             width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="1"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/NClean_Pregnant_PrintAd_119x119.jpg"
             alt="Nature Clean pregnant woman" width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="2"
       class="tile-item no-border">
        <span class="video-play-icon"></span>
        <img class="lazy fit-height"
             data-src="/templates/dist/img/video-thumbnails/nclean-thumbnail.jpg" alt="NClean TV story board"
             width="295" height="166" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="3"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/MISS_EDO_Web_119x119.jpg"
             alt="Mississauga Human race website" width="119" height="119" />
    </a>
    <a href="javascript:void(0)" data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="4"
       class="tile-item no-border">
        <img class="lazy"
             data-src="/templates/dist/img/gallery/thumbnails/MISS_EDO_Ads_119x119.jpg" alt="Mississauga print advert"
             width="119" height="119" />
    </a>
</div>
