 <div class="sub-container">
	 <div class="text-div">
	 It's about creating and sustaining differentiated, loyalty-inspiring, fully-margined organizations, products and services. Otherwise, you're just making logos. Fortunately, we do those too.
	 
	 
	 </div>
	 
  <div class="imgShow-div">
  
  <!-- brading subpage slideshow -->
  <div id="brandingpage" class="carousel slide subpage" data-ride="carousel">
  <!-- Indicators -->
	 <ol class="carousel-indicators subpageindi brandingpage">
	   <li data-target="#brandingpage" data-slide-to="0" class="active"></li>
	   <li data-target="#brandingpage" data-slide-to="1"></li>
	   <li data-target="#brandingpage" data-slide-to="2"></li>
	 </ol>

  <!-- Wrapper for slides -->
	  <div class="carousel-inner brandingpage" role="listbox" style="width:50%; height:213px; margin:10px auto;">
	    <div class="item active">
	      <div data-target="#lightbox-bandingpage" data-toggle="modal" data-slide-to="0" class="slide-container"><img src="/templates/dist/img/DE_Can_119X119.jpg" /></div>
	    </div>
	    <div class="item">
	      <div data-target="#lightbox-bandingpage" data-toggle="modal" data-slide-to="1" class="slide-container"><img src="http://placehold.it/265x233" /></div>
	    </div>
	    <div class="item">
	      <div data-target="#lightbox-bandingpage" data-toggle="modal" data-slide-to="2" class="slide-container"><img src="http://placehold.it/265x233" /></div>
	    </div>
	  </div>

  <!-- Controls -->
	  <a class="left carousel-control" href="#brandingpage" role="button" data-slide="prev">
	    <div class="left-arrow"></div>  
	    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>-->
	  </a>
	  <a class="right carousel-control" href="#brandingpage" role="button" data-slide="next">
	    <div class="right-arrow"></div> 
	    <!--  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span> -->
	  </a>
   </div>
	 
	 <!-- brading subpage popup window slideshow -->
<div class="modal fade and carousel slide popup" id="lightbox-bandingpage" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Controls -->
				  <a class="left carousel-control" href="#lightbox-bandingpage" role="button" data-slide="prev">
				    <div class="left-arrow"></div>
				    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>-->
				  </a>
				  <a class="right carousel-control" href="#lightbox-bandingpage" role="button" data-slide="next">
				    <div class="right-arrow"></div> 
				    <!--  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span> -->
				  </a>
    <!-- Close -->
                 <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close"></a>  
                 
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-body">
                
			<!-- Indicators -->
		 <ol class="carousel-indicators brandingpage" style="height:30px;">
		   <li data-target="#lightbox-bandingpage" data-slide-to="0" class="active"></li>
		   <li data-target="#lightbox-bandingpage" data-slide-to="1"></li>
		   <li data-target="#lightbox-bandingpage" data-slide-to="2"></li>
		 </ol>
			  <!-- Wrapper for slides -->
				  <div class="carousel-inner brandingpage" role="listbox">
				    <div class="item active pop-img-container">
				      <img src="/templates/dist/img/DE_Can_607x332.jpg"/>
				      <div class="carousel-caption">
                       (75 words) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh tellus, gravida eu porttitor sed, dictum ac urna. Fusce ex massa, congue id massa vel, dapibus aliquet nulla. Curabitur condimentum nisi at quam vestibulum, sed tempus lacus tempor. Mauris fringilla nec purus at semper. Maecenas vel nibh vitae risus imperdiet varius. Ut porta nisl sit amet ex consequat ultrices. Sed venenatis enim eu eros blandit blandit. Nunc gravida blandit lorem in congue. Pellentesque nec commodo.
                      </div>
                      
				    </div>
				    <div class="item pop-img-container">
				      <img src="http://placehold.it/938x583" />
				      <div class="carousel-caption">
                       (75 words) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh tellus, gravida eu porttitor sed, dictum ac urna. Fusce ex massa, congue id massa vel, dapibus aliquet nulla. Curabitur condimentum nisi at quam vestibulum, sed tempus lacus tempor. Mauris fringilla nec purus at semper. Maecenas vel nibh vitae risus imperdiet varius. Ut porta nisl sit amet ex consequat ultrices. Sed venenatis enim eu eros blandit blandit. Nunc gravida blandit lorem in congue. Pellentesque nec commodo.
                      </div>
				    </div>
				    <div class="item pop-img-container">
				      <img src="http://placehold.it/938x583" />
				      <div class="carousel-caption">
                       (75 words) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh tellus, gravida eu porttitor sed, dictum ac urna. Fusce ex massa, congue id massa vel, dapibus aliquet nulla. Curabitur condimentum nisi at quam vestibulum, sed tempus lacus tempor. Mauris fringilla nec purus at semper. Maecenas vel nibh vitae risus imperdiet varius. Ut porta nisl sit amet ex consequat ultrices. Sed venenatis enim eu eros blandit blandit. Nunc gravida blandit lorem in congue. Pellentesque nec commodo.
                      </div>
				    </div>
				    
				    
				  </div>
			        
			    
            </div>
            <!-- /.modal-body -->
               
            
            
		 
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
	 
	 
	 
	 
	 
	 
	 
	 
  </div>
 </div>