<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        Branding is not a fad nor is it new. It is equal parts

        science, art and behavioral intuition that are focused

        on creating and sustaining differentiated, loyalty-

        inspiring, high-margin organizations, products and

        services. Anything less and you're just making logos.

        Fortunately, we do those too.

    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">

        <!-- brading subpage slideshow -->
        <div id="branding-page" class="carousel slide subpage" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators subpageindi branding-page">
                <li data-target="#brandingpage" data-slide-to="0" class="active"></li>
                <li data-target="#brandingpage" data-slide-to="1"></li>
                <li data-target="#brandingpage" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner branding-page" role="listbox" style="width:50%; height:213px; margin:10px auto;">
                <div class="item active">
                    <div data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="0"
                         class="slide-container"><img src="/templates/dist/img/branding/Libro_Website_309px273p.jpg"/></div>
                </div>
                <div class="item">
                    <div data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="1"
                         class="slide-container"><img src="/templates/dist/img/branding/Libro_Website_309px273p.jpg" /></div>
                </div>
                <div class="item">
                    <div data-target="#lightbox-banding-page" data-toggle="modal" data-slide-to="2"
                         class="slide-container"><img src="/templates/dist/img/branding/Libro_Website_309px273p.jpg" /></div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#branding-page" role="button" data-slide="prev">
                <div class="left-arrow"></div>
                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>-->
            </a>
            <a class="right carousel-control" href="#branding-page" role="button" data-slide="next">
                <div class="right-arrow"></div>
                <!--  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span> -->
            </a>
        </div>

        <!-- brading subpage popup window slideshow -->
        <div class="modal fade and carousel slide popup" id="lightbox-banding-page" tabindex="-1" role="dialog"
             aria-hidden="true">
            <!-- Controls -->
            <a class="left carousel-control" href="#lightbox-banding-page" role="button" data-slide="prev">
                <div class="left-arrow"></div>
                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>-->
            </a>
            <a class="right carousel-control" href="#lightbox-banding-page" role="button" data-slide="next">
                <div class="right-arrow"></div>
                <!--  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span> -->
            </a>
            <!-- Close -->
            <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close"></a>

            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">

                        <!-- Indicators -->
                        <ol class="carousel-indicators branding-page" style="height:30px;">
                            <li data-target="#lightbox-banding-page" data-slide-to="0" class="active"></li>
                            <li data-target="#lightbox-banding-page" data-slide-to="1"></li>
                            <li data-target="#lightbox-banding-page" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner branding-page" role="listbox">
                            <div class="item active pop-img-container">
                                <img src="/templates/dist/img/branding/Libro_Website_938px583p.jpg" />

                                <div class="carousel-caption">
                                    (75 words) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh
                                    tellus, gravida eu porttitor sed, dictum ac urna. Fusce ex massa, congue id massa
                                    vel, dapibus aliquet nulla. Curabitur condimentum nisi at quam vestibulum, sed
                                    tempus lacus tempor. Mauris fringilla nec purus at semper. Maecenas vel nibh vitae
                                    risus imperdiet varius. Ut porta nisl sit amet ex consequat ultrices. Sed venenatis
                                    enim eu eros blandit blandit. Nunc gravida blandit lorem in congue. Pellentesque nec
                                    commodo.
                                </div>

                            </div>
                            <div class="item pop-img-container">
                                <img src="/templates/dist/img/branding/Libro_Website_938px583p.jpg" />

                                <div class="carousel-caption">
                                    (75 words) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh
                                    tellus, gravida eu porttitor sed, dictum ac urna. Fusce ex massa, congue id massa
                                    vel, dapibus aliquet nulla. Curabitur condimentum nisi at quam vestibulum, sed
                                    tempus lacus tempor. Mauris fringilla nec purus at semper. Maecenas vel nibh vitae
                                    risus imperdiet varius. Ut porta nisl sit amet ex consequat ultrices. Sed venenatis
                                    enim eu eros blandit blandit. Nunc gravida blandit lorem in congue. Pellentesque nec
                                    commodo.
                                </div>
                            </div>
                            <div class="item pop-img-container">
                                <img src="/templates/dist/img/branding/Libro_Website_938px583p.jpg" />

                                <div class="carousel-caption">
                                    (75 words) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh
                                    tellus, gravida eu porttitor sed, dictum ac urna. Fusce ex massa, congue id massa
                                    vel, dapibus aliquet nulla. Curabitur condimentum nisi at quam vestibulum, sed
                                    tempus lacus tempor. Mauris fringilla nec purus at semper. Maecenas vel nibh vitae
                                    risus imperdiet varius. Ut porta nisl sit amet ex consequat ultrices. Sed venenatis
                                    enim eu eros blandit blandit. Nunc gravida blandit lorem in congue. Pellentesque nec
                                    commodo.
                                </div>
                            </div>


                        </div>


                    </div>
                    <!-- /.modal-body -->


                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


    </div>
</div>