<div class="sub-container">
    <div class="text-div col-md-5 col-sm-5 pull-left">
        <p>
            Branding is not a fad nor is it new. It is equal parts

            science, art and behavioral intuition that are focused

            on creating and sustaining differentiated, loyalty-

            inspiring, high-margin organizations, products and

            services. Anything less and you're just making logos.

            Fortunately, we do those too.
        </p>
        <p>
            Over the last three decades or so, Tenzing has invented brands from scratch, revitalized tired brand
            promises and re-engaged stakeholders in brand communications from the inside out. Our work has been
            recognized internationally, nationally and within specific sectors for excellence. Probably more important,
            our work has helped our clients exceed their goals in almost every case. <a class="content-link" href="javascript:void(0)" data-toggle="modal" data-target=".modal#contact">Which we'd be pleased to share with you at your convenience.</a>
        </p>
    </div>
    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        {% include 'tiles/branding.html' %}
    </div>
</div>