<div class="modal modal-fullscreen fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="Contact" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close-button utility-close-icon" data-dismiss="modal" tabindex="0"></a>
            </div>
            <div class="modal-body">
                <div class="entry-content col-md-9">
                    <h1 class="title">Contact</h1>
                    <h4 class="sub-title">Business Development Questions:</h4>
                    <ul class="contact-list">
                        <li>Gary Lintern / <a href="mailto:gary@gotenzing.com" target="_blank">gary@gotenzing.com</a> <br />416-367-1557   x 205/ 519-642-4404  x109</li>
                        <li>Michelle Flynn / <a href="mailto:michelleflynn@gotenzing.com" target="_blank">michelleflynn@gotenzing.com</a> <br />416-367-1557   x 208</li>
                    </ul>

                    <h4 class="sub-title">Snail Mail:</h4>
                    <div class="contact-map">
                        <div class="col-md-6">
                            Toronto <br />
                            <iframe width="100%" height="300" frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJLcQpEtk0K4gRBs4df1ftXaY&key=AIzaSyD_VREr-We898pVftz2T3c9EU7kKkylSPs" allowfullscreen></iframe>
                            <!--<div id="map-toronto" style="width: 500px; height: 400px;"></div>-->
                        </div>
                        <div class="col-md-6">
                            London <br />
                            <iframe width="100%" height="300" frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ89b5aRzyLogR7PzcDIgEf1g&key=AIzaSyD_VREr-We898pVftz2T3c9EU7kKkylSPs" allowfullscreen></iframe>
                            <!--<div id="map-london" style="width: 500px; height: 400px;"></div>-->
                        </div>
                    </div>
                    <!--<script async defer-->
                            <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZtVCmNniiQz-aMBpw87eGYuA1CkZ6ItE&callback=initMap">-->
<!--//                    </script>-->
                    <script>
                        function initMap() {
                            var torontoMap = $('#map-toronto');
                            var toronto = new google.maps.Map(torontoMap, {
                                center: {lat: 42.981708, lng: -81.247743},
                                zoom: 8
                            });

                            var londonMap = $('#map-london');
                            var london = new google.maps.Map(londonMap, {
                                center: {lat: 44.540, lng: -78.546},
                                zoom: 8
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>