<!-- Modal fullscreen -->
<div class="modal modal-fullscreen fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true">
    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content">
            <div class="modal-body">
                <a class="close utility-close-icon" data-dismiss="modal"></a>
                <div class="entry-content col-md-9">
                    <h1>CONTACT</h1>

                    <p class="text-uppercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh tellus, gravida eu porttitor sed, dictum ac urna. Fusce ex massa, congue id massa vel, dapibus aliquet nulla. Curabitur condimentum nisi at quam vestibulum, sed tempus lacus tempor. Mauris fringilla nec purus at semper. Maecenas vel nibh vitae risus imperdiet varius. Ut porta nisl sit amet ex consequat ultrices. Sed venenatis enim eu eros blandit blandit. Nunc gravida blandit lorem in congue. Pellentesque nec commodo.</p>

                    

                </div>
            </div>
        </div>
    </div>
</div>