<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        <p>
            Pushing one-way messages at your market only

            works if anyone is listening. Sadly, with all the noise

            out there, few people are. And besides, who looks at

            advertising or PR anymore? News flash: No one ever

            looked at advertising and few ever trusted spin. But

            people do notice what interests or inspires them.

            Creating powerful, motivating 'conversations and

            stories' to engage employees and customers equally

            is how brands grow from awareness to advocacy.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        {% include 'carousels/engaging.html' %}
    </div>
</div>