<div class="sub-container">
    <div class="text-div col-md-5 col-sm-5 col-xs-10 pull-left">
        <h1 class="mobile-title visible-xs">ENGAGING</h1>
        <p>
            Pushing one-way messages at your market only works if anyone is listening. Sadly, with all the noise out there, few people are. And besides, who looks at advertising or PR anymore? Actually, no one ever looked at advertising and few ever trusted spin. But people do notice what interests or inspires them. Creating powerful 'conversations and stories' to engage employees and customers equally is how brands grow from awareness to advocacy. Audience-relevant value propositions, brand stories and communications that inspire action are Tenzing's tools of mass and micro disruption. The engagement that happens as a result is the foundation of sales, donations or any other quantitative metric.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 col-xs-10 pull-right">
        <img class="lazy-loading" src="/templates/dist/img/ajax-loader.gif" alt="Loader">

        {% include 'tiles/engaging.html' %}
    </div>
</div>