<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        <p>
            Pushing one-way messages at your market only

            works if anyone is listening. Sadly, with all the noise

            out there, few people are. And besides, who looks at

            advertising or PR anymore? News flash: No one ever

            looked at advertising and few ever trusted spin. But

            people do notice what interests or inspires them.

            Creating powerful, motivating 'conversations and

            stories' to engage employees and customers equally

            is how brands grow from awareness to advocacy.
        </p>

    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        <!-- engaging subpage slideshow -->
        <div id="engaging-page" class="carousel slide subpage" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators subpageindi engaging-page">
                <li data-target="#engagingpage" data-slide-to="0" class="active"></li>
                <li data-target="#engagingpage" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner engaging-page" role="listbox" style="width:50%; height:213px; margin:10px auto;">
                <div class="item active">
                    <div data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="0"
                         class="slide-container"><img src="/templates/dist/img/libro/Libro_Website_309x273.jpg"/></div>
                </div>
                <div class="item">
                    <div data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="1"
                         class="slide-container"><img src="/templates/dist/img/libro/Libro_Website_309x273.jpg" /></div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#engaging-page" role="button" data-slide="prev">
                <div class="left-arrow"></div>
            </a>
            <a class="right carousel-control" href="#engaging-page" role="button" data-slide="next">
                <div class="right-arrow"></div>
            </a>
        </div>

        <!-- brading subpage popup window slideshow -->
        <div class="modal fade and carousel slide popup hidden-xs" id="lightbox-engaging-page" tabindex="-1" role="dialog"
             aria-hidden="true">
            <!-- Controls -->
            <a class="left carousel-control" href="#lightbox-engaging-page" role="button" data-slide="prev">
                <div class="left-arrow"></div>
            </a>
            <a class="right carousel-control" href="#lightbox-engaging-page" role="button" data-slide="next">
                <div class="right-arrow"></div>
            </a>
            <!-- Close -->
            <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close"></a>

            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">

                        <!-- Indicators -->
                        <ol class="carousel-indicators engaging-page" style="height:30px;">
                            <li data-target="#lightbox-engaging-page" data-slide-to="0" class="active"></li>
                            <li data-target="#lightbox-engaging-page" data-slide-to="1"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner engaging-page" role="listbox">
                            <div class="item active pop-img-container">
                                <img src="/templates/dist/img/gallery/Libro_2012_Website_1407x875.jpg" />

                                <div class="carousel-caption">
                                    <p>
                                        We helped Northern Credit Union develop a unique

                                        brand that was tailored for life in 'Northern' Ontario

                                        communities. We're equally proud of the online

                                        community we created called Northern Purse Strings.

                                        This financial literacy web 2.0 community attracted

                                        about 1,000 participants in trial and demonstrated the

                                        power of genuine digital engagement.
                                    </p>

                                </div>

                            </div>
                            <div class="item pop-img-container">
                                <img src="/templates/dist/img/gallery/Libro_2012_Website_1407x875.jpg" />

                                <div class="carousel-caption">
                                    <p>
                                        Tenzing helped three mutual insurance companies

                                        create a brand that would unite them through a

                                        merger process. We started by engaging the

                                        employees and management of all three

                                        organizations in Tenzing Orienteering sessions. As a

                                        result, the new brand I.D. and story aligned and

                                        inspired the new organization internally long before

                                        they went to market (where they have been equally

                                        successful).
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-body -->
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>