<div class="modal modal-fullscreen fade gallery utility" id="gallery-legacy" tabindex="-1" role="dialog" aria-labelledby="Gallery Legacy"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header-sub-container">
                    <a href="javascript:void(0)" class="close-button utility-close-icon text-indent-away-span" data-dismiss="modal" tabindex="0" title="gallery close button">
                        <span>close icon</span>
                        <svg class="utility-close-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.5 14.5"><style>.st0{fill:#fff}.st0,.st1{stroke:#949494;stroke-width:1.3065;stroke-miterlimit:10}.st1{fill:none;stroke-linecap:round}</style><circle class="st0" cx="7.2" cy="7.2" r="6.5"/><path class="st1" d="M4.4 10.1l5.7-5.7m0 5.7L4.4 4.4"/></svg>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="entry-content">
                    <h2 class="title">Gallery</h2>

                    <p class="text-uppercase sub-content">
                        Tenzing invents, guides, creates and deploys, on average, about 200 brands, campaigns, programs and projects per year. In that spirit, there isn't enough bandwidth this side of NASA to show you all the stuff and clients we've loved along the way. So we'll build out this section of our site over the next little while and try to keep it slim enough to enjoy over a cup of tea.
                    </p>

                    <img class="loading-icon" src="/templates/dist/img/loading.gif" alt="Loading image" width="128" height="128"/>
                    <div class="gallery-container gallerypage"></div>

                    <div class="clearfix"></div>
                    <h3 class="sub-title">Legacy</h3>
                    <p>
                        Tenzing was born in London, Ontario in 1989, expanded to Toronto in 1992, went fully-digital in 1999, made the Marketing Top 50 Agency list in 2005, acquired Campbell Michener Lee in 2008, and earned best-in-world recognition for Emerging Media, Fairs and Exhibitions advertising, financial services websites, economic development programs, communications strategy and creative and design and a Cassie Award (among the toughest in the world to win) for advertising that works. Tenzing currently employs 17 Sherpa and occupies two lovely offices - Toronto and London.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>