<div class="modal modal-fullscreen fade gallery utility" id="gallery-legacy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content">
            <div class="modal-body">
                <a class="close-button utility-close-icon" data-dismiss="modal"></a>
                <div class="entry-content col-md-9">
                    <h1 class="title">Gallery</h1>

                    <p class="text-uppercase sub-content">
                        Tenzing invents, guides, creates and deploys, on average, about 200 brands, campaigns, programs
                        and projects
                        peryear. In that spirit, there isn't enough bandwidth this side of NASA to show you all the
                        stuff and clients
                        we'veloved along the way. So we'll build out this section of our site over the next while and
                        try to keep it slim
                        enough to enjoy over a cup of tea.</p>

                    <div class="gallery-container gallerypage">
                        <img class="loading-icon" src="/templates/dist/img/loading.gif" alt="Loading image" />
                    </div>

                    <h3 class="sub-title">Legacy</h3>

                    <p>Tenzing was born in London, Ontario in 1989, expanded to Toronto in 1992, went fully-digital in
                       1999, made
                       theMarketing Top 50 Agency list in 2005, acquired Campbell Michener Lee in 2008, and earned
                       best-in-world
                       recognition for Emerging Media, Fairs and Exhibitions advertising, financial services web sites,
                       economic
                       development programs, communications strategy and creative and design and a Cassie Award (among
                       the toughest
                       inthe world to win) for advertising that works. Tenzing currently employs 17 Sherpa and occupies
                       two lovely
                       offices - Toronto and London.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery-carousel-page">
    <div class="modal fade and carousel slide" id="lightbox" tabindex="-1" role="dialog" aria-hidden="true">
        <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev">
            <div class="left-arrow"></div>
        </a>
        <a class="right carousel-control" href="#lightbox" role="button" data-slide="next">
            <div class="right-arrow"></div>
        </a>
        <!-- Close -->
        <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close"></a>

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <ol id="carousel-indicators" class="carousel-indicators gallerypage"></ol>

                    <div id="carousel-inner" class="carousel-inner gallerypage"></div>
                    <!-- /.carousel-inner -->
                </div>
                <!-- /.modal-body -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
