<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        <p>
            <em>The more friends you make on the way to market, the

            easier it is to find new ones when you get there.</em> This

            is the Human Channel™: a client-tailored process that

            engages your people in brand ownership, and utilizes

            the business and personal networks of your

            stakeholders as media. We believe organizations now

            prosper or fail based on the capacity to mobilize

            stakeholders as external advocates. Human

            Channel™ is our social media path; only our

            approach has metrics and business outcomes.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        {% include 'carousels/humanchanneling.html' %}
    </div>
</div>