<div class="sub-container">
    <div class="text-div col-md-5 col-sm-5 col-xs-10 pull-left">
        <h1 class="mobile-title visible-xs">HUMAN CHANNELING</h1>

        <p>
            <em>The more friends you make on the way to market, the

            easier it is to find new ones when you get there.</em> This

            is the Human Channel™: a client-tailored process that

            engages your people in brand ownership, and utilizes

            the business and personal networks of your

            stakeholders as media. We believe organizations now

            prosper or fail based on the capacity to mobilize

            stakeholders as external advocates. Human

            Channel™ is our social media path; and our

            approach comes with metrics and business outcomes.
            Imangine that!
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 col-xs-10 pull-right">
        <img class="lazy-loading" src="/templates/dist/img/ajax-loader.gif" alt="Loader">

        {% include 'tiles/humanchanneling.html' %}
    </div>
</div>