
<div class="sub-container">
	 <div class="text-div">
	 Mastering all communications skills and media is not

optional. Conversely, managing all kinds of different 

experts to orchestrate a single brand is only for the 

bloated (or bravely naive). The world is collaborative, 

dynamic and integrated. So is Tenzing: One team per 

client, delivering single-minded brands and content 

across all channels.
	 </div>
	 
	 <div class="imgShow-div"><div class="sub-img-container"><img src="/templates/dist/img/DE_Can_1100x471p.jpg"/></div></div>
 </div>