<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        <p>
            Mastering all communications skills and media is not

            optional. Conversely, managing all kinds of different

            experts to orchestrate a single brand is only for the

            bloated (or bravely naive). The world is collaborative,

            dynamic and integrated. So is Tenzing: One team per

            client, delivering single-minded brands and content

            across all channels.
        </p>
        <p>
            Integration generates specific business results that are more important now than ever. In a world that is
            increasingly fragmented and cluttered, integration delivers seamless continuity. As time increases in value,
            integration reduces the effort and cost of being great. As audiences slip quickly from channel to channel
            and screen to screen, integration guarantees consistency - the only way to ensure every message drives your
            audience to the same brand conclusion.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        {% include 'carousels/integrating.html' %}
    </div>
</div>