<div class="sub-container">
    <div class="text-div col-md-5 col-sm-5 col-xs-10 pull-left">
        <h1 class="mobile-title visible-xs">ORIENTEERING</h1>

        <p>
            Tenzing Orienteering is to facilitation what Jackson Pollock is to paint-by-numbers. Like a series of revival meetings for staff, leadership and influencers, it works from the inside out to help stakeholders discover a mutually achievable path to brand delivery. The conversations are grounded in research, confidential if required and always engaging. Brand ownership happens faster and runs deeper as a result. Tenzing Orienteering has been applied to public organizations like The City of Mississauga and Bruce County, healthcare organizations including Hamilton Health Sciences and The Canadian Mental Health Association, and in the private sector with companies such as Baker and McKenzie LLP and CGA Canada.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 col-xs-10 pull-right">
        <img class="lazy-loading" src="/templates/dist/img/ajax-loader.gif" alt="Loader">

        {% include 'tiles/orienteering.html' %}
    </div>
</div>