<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        <p>
            Tenzing Orienteering works from the inside out to

            help stakeholders discover a mutually achievable path

            to brand delivery. It's like a series of revival meetings

            for staff, leadership and influencers. The

            conversations are grounded in research, confidential

            if required, often blunt, and always engaging. We

            inspire brand ownership and then guide the human

            effort required to go to market as one. Tenzing

            Orienteering is to facilitation what Jackson Pollock is

            to paint-by-numbers.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        {% include 'carousels/orienteering.html' %}
    </div>
</div>