<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        <p>
            Tenzing Orienteering works from the inside out to

            help stakeholders discover a mutually achievable path

            to brand delivery. It's like a series of revival meetings

            for staff, leadership and influencers. The

            conversations are grounded in research, confidential

            if required, often blunt, and always engaging. We

            inspire brand ownership and then guide the human

            effort required to go to market as one. Tenzing

            Orienteering is to facilitation what Jackson Pollock is

            to paint-by-numbers.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        <!-- orienteering subpage slideshow -->
        <div id="orienteering-page" class="carousel slide subpage" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators subpageindi orienteering-page">
                <li data-target="#orienteering-page" data-slide-to="0" class="active"></li>
                <li data-target="#orienteering-page" data-slide-to="1"></li>
                <li data-target="#orienteering-page" data-slide-to="2"></li>
                <li data-target="#orienteering-page" data-slide-to="3"></li>
                <li data-target="#orienteering-page" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner orienteering-page" role="listbox" style="width:50%; height:213px; margin:10px auto;">
                <div class="item active">
                    <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="0"
                         class="slide-container">
                        <img src="/templates/dist/img/gallery/Bruce_Website_1407x875.jpg"/>
                    </div>
                </div>
                <div class="item">
                    <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="1"
                         class="slide-container">
                        <img src="/templates/dist/img/gallery/Bruce_2015_MasterToolKit_1407x875.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="2"
                         class="slide-container">
                        <img src="/templates/dist/img/gallery/Bruce_2015_Ktown_BlBrd_1407x875.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="3"
                         class="slide-container">
                        <img src="/templates/dist/img/gallery/HHS_2011_Brochure_Cover_1407x875.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="4"
                         class="slide-container">
                        <img src="/templates/dist/img/gallery/HHS_2011_Brochure_Spread_1407x875.jpg" />
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#orienteering-page" role="button" data-slide="prev">
                <div class="left-arrow"></div>
            </a>
            <a class="right carousel-control" href="#orienteering-page" role="button" data-slide="next">
                <div class="right-arrow"></div>
            </a>
        </div>

        <!-- orienteering subpage popup window slideshow -->
        <div class="modal fade and carousel slide popup hidden-xs" id="lightbox-orienteering-page" tabindex="-1" role="dialog"
             aria-hidden="true">
            <!-- Controls -->
            <a class="left carousel-control" href="#lightbox-orienteering-page" role="button" data-slide="prev">
                <div class="left-arrow"></div>
            </a>
            <a class="right carousel-control" href="#lightbox-orienteering-page" role="button" data-slide="next">
                <div class="right-arrow"></div>
            </a>
            <!-- Close -->
            <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close"></a>

            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">

                        <!-- Indicators -->
                        <ol class="carousel-indicators orienteering-page" style="height:30px;">
                            <li data-target="#lightbox-orienteering-page" data-slide-to="0" class="active"></li>
                            <li data-target="#lightbox-orienteering-page" data-slide-to="1"></li>
                            <li data-target="#lightbox-orienteering-page" data-slide-to="2"></li>
                            <li data-target="#lightbox-orienteering-page" data-slide-to="3"></li>
                            <li data-target="#lightbox-orienteering-page" data-slide-to="4"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner orienteering-page" role="listbox">
                            <div class="item active pop-img-container">
                                <img src="/templates/dist/img/gallery/Bruce_Website_1407x875.jpg" />
                                <div class="carousel-caption">
                                    <p>
                                        Tenzing was hired to help Ontario's Bruce County

                                        position for sustainable entrepreneurial growth. We

                                        could have done focus groups and produced an ad

                                        campaign. We engaged the existing business

                                        communities of Bruce in a spirited conversation

                                        instead, and created eHarmony for prospective

                                        business owners as a result.
                                    </p>
                                </div>
                            </div>
                            <div class="item pop-img-container">
                                <img src="/templates/dist/img/gallery/Bruce_2015_MasterToolKit_1407x875.jpg" />

                                <div class="carousel-caption">
                                    <p>
                                        Tenzing was hired to help Ontario's Bruce County

                                        position for sustainable entrepreneurial growth. We

                                        could have done focus groups and produced an ad

                                        campaign. We engaged the existing business

                                        communities of Bruce in a spirited conversation

                                        instead, and created eHarmony for prospective

                                        business owners as a result.
                                    </p>

                                </div>
                            </div>
                            <div class="item pop-img-container">
                                <img src="/templates/dist/img/gallery/Bruce_2015_Ktown_BlBrd_1407x875.jpg" />

                                <div class="carousel-caption">
                                    <p>
                                        Tenzing was hired to help Ontario's Bruce County

                                        position for sustainable entrepreneurial growth. We

                                        could have done focus groups and produced an ad

                                        campaign. We engaged the existing business

                                        communities of Bruce in a spirited conversation

                                        instead, and created eHarmony for prospective

                                        business owners as a result.
                                    </p>

                                </div>
                            </div>
                            <div class="item pop-img-container">
                                <img src="/templates/dist/img/gallery/HHS_2011_Brochure_Cover_1407x875.jpg" />

                                <div class="carousel-caption">
                                    <p>
                                        The Hamilton Health Sciences executive team was

                                        proud of their new strategic plan and hired Tenzing to

                                        brand it for 10,000 employees. Our Orienteering

                                        process revealed a very unreceptive audience - the

                                        managers, professionals and staff at the hospital had

                                        not been consulted. We helped re-create the strategy

                                        based on hospital-wide input and it became a huge

                                        success.
                                    </p>

                                </div>
                            </div>
                            <div class="item pop-img-container">
                                <img src="/templates/dist/img/gallery/HHS_2011_Brochure_Spread_1407x875.jpg" />

                                <div class="carousel-caption">
                                    <p>
                                        The Hamilton Health Sciences executive team was

                                        proud of their new strategic plan and hired Tenzing to

                                        brand it for 10,000 employees. Our Orienteering

                                        process revealed a very unreceptive audience - the

                                        managers, professionals and staff at the hospital had

                                        not been consulted. We helped re-create the strategy

                                        based on hospital-wide input and it became a huge

                                        success.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-body -->
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>