<!-- Modal fullscreen -->
<div class="modal modal-fullscreen fade" id="personalities-bios" tabindex="-1" role="dialog" aria-labelledby="Personalities Bios" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="entry-content col-md-9">
                    <h1>PERSONALITIES</h1>

                    <p class="text-uppercase">We are moms and dads, brothers and sisters, partners and spouses, runners and cultural activists, curious intellects, simply curious, always interested, rarely still, canoeists and cyclists, educated and street-tested, wonderfully diverse, writers and artists and thinkers all. Tenzing culture is one of inclusion. And living fully is always the first item on our to-do lists. </p>

                    <h3>BIOS</h3>

                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>