{% include 'header.html' %}

<div class="entry-content col-md-9">
    <h1>PERSONALITIES</h1>

    <p class="text-uppercase">We are moms and dads, brothers and sisters, partners and spouses, runners and cultural activists, curious intellects, simply curious, always interested, rarely still, canoeists and cyclists, educated and street-tested, wonderfully diverse, writers and artists and thinkers all. Tenzing culture is one of inclusion. And living fully is always the first item on our to-do lists. </p>

    <h3>BIOS</h3>

</div>
{% include 'footer.html' %}