<div class="modal modal-fullscreen fade" id="personalities-bios" tabindex="-1" role="dialog"
     aria-labelledby="Personalities Bios" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header-sub-container">
                    <a href="javascript:void(0)" class="close-button utility-close-icon text-indent-away-span" data-dismiss="modal" aria-hidden="true" tabindex="0" title="personalities and bios close button">
                        <span>close icon</span>
                        <svg class="utility-close-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.5 14.5"><style>.st0{fill:#fff}.st0,.st1{stroke:#949494;stroke-width:1.3065;stroke-miterlimit:10}.st1{fill:none;stroke-linecap:round}</style><circle class="st0" cx="7.2" cy="7.2" r="6.5"/><path class="st1" d="M4.4 10.1l5.7-5.7m0 5.7L4.4 4.4"/></svg>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="entry-content">
                    <h2 class="title">Personalities</h2>

                    <p class="text-uppercase sub-content">
                        We are moms and dads, brothers and sisters, partners and
                        spouses, runners and cultural activists, curious intellects,
                        simply curious, always interested, rarely still, canoeists and cyclists, educated and
                        street-tested, wonderfully diverse, writers and artists and thinkers all.
                        Tenzing culture is one of inclusion. And living fully is always the first
                        item on our to-do lists.
                    </p>

                    <h3 class="sub-title">BIOS</h3>

                    <div id="accordion-container" class="bio-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>