<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        <p>
            Years ago, two smart guys (Al Ries & Jack Trout)

            wrote a book about positioning. In a world now filled

            to the ozone with undifferentiated, competing

            products and services, and endless, fragmented

            media tactics, their advice is now biblical. We suggest

            you either practice the art of positioning for preference

            through differentiation or prepare to drop your

            margins.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        {% include 'carousels/positioning.html' %}
    </div>
</div>