<div class="sub-container">
    <div class="text-div col-md-5 col-sm-5 col-xs-10 pull-left">
        <h1 class="mobile-title visible-xs">POSITIONING</h1>

        <p>
            Years ago, two smart guys (Al Ries & Jack Trout) wrote a book about positioning. In a world now filled to the ozone with undifferentiated, competing products and services, and endless, fragmented media tactics, their advice is even more biblical. We suggest you either practice the art of positioning for preference through differentiation or prepare to drop your margins. Tenzing has created unique positioning strategies in financial services, business and professional services, technology, healthcare, economic development, consumer products and retail. There are always gaps to fill; our job is to help you identify the right one, fill it with your brand and communicate like you own it.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 col-xs-10 pull-right">
        <img class="lazy-loading" src="/templates/dist/img/ajax-loader.gif" alt="Loader">

        {% include 'tiles/positioning.html' %}
    </div>
</div>