<div class="sub-container">
    <div class="text-div col-md-5 col-sm-5 col-xs-10 pull-left">
        <h1 class="mobile-title visible-xs">POSITIONING</h1>

        <p>
            Years ago, two smart guys (Al Ries & Jack Trout)

            wrote a book about positioning. In a world now filled

            to the ozone with undifferentiated, competing

            products and services, and endless, fragmented

            media tactics, their advice is now biblical. We suggest

            you either practice the art of positioning for preference

            through differentiation or prepare to drop your

            margins.
        </p>
        <p>
            Tenzing has created unique positioning strategies in financial services, business and professional services,
            technology, healthcare, economic development, consumer products and retail. Oddly enough, though, most of
            our relationships don't start there. A prospective client typically starts by asking us to make an ad or
            shoot a film or produce a web site. That reflects the current state of our industry - everyone wants the
            tactical stuff. We respond with a few questions; like what will make the ad, the film or the web site
            unique? What's your value proposition? Do your staff know your value proposition? The light comes on, we
            step back together, we find the position that results in preference - and then we produce the ads, the films
            and the web sites. Funny how that works (out so well).
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 col-xs-10 pull-right">
        {% include 'tiles/positioning.html' %}
    </div>
</div>