 <div class="sub-container">
	 <div class="text-div">
	 On the way to market, the more friends you make while creating your brand, the easier it is to find new ones when you get there. Organizations now prosper or fail based on their ability to mobilize their human channels.
	 
	 <br/><br/><a href="#" style="display:inline;margin-left:0;"><img src="/templates/dist/img/serving-bookicon.svg" width="29px" height="29px"/></a><div style="display:inline;margin-left:5px;"> The Story of Tenzing</div>
	 </div>
	 
	 <div class="imgShow-div"><div class="sub-img-container"><img src="/templates/dist/img/DE_Poster_1100x471p.jpg"/></div></div>
 </div>