<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        Tenzing operates on the principle that outstanding

        service generates the trust required to create

        genuinely innovative strategy and creative. This is

        contrary to the status quo in our industry. Our

        business model is unique, our perspective on the

        relationship between clients and agency staff is

        unique. Our tenure with both groups is off the charts

        as a result. Where others create silos, we build brand

        teams.
        <br /><br />
        <a href="#" style="position:relative;display:inline;" class="sub-link">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 29" style="enable-background:new 0 0 32 29;width:32px; height:29px; position:absolute; top:-5px;" xml:space="preserve">
<metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c067 79.157747, 2015/03/30-23:40:42        ">
   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
      <rdf:Description rdf:about=""/>
   </rdf:RDF>
</x:xmpmeta>      
<?xpacket end="w"?></metadata>
<style type="text/css">
	.sub-face {
        fill : #F7A800;
    }
</style>
<g>
	<path class="sub-face" d="M0,18.4c0.2-0.8,0.4-1.6,0.7-2.3C1,15.3,1.5,14.6,2,14c4-4.5,8.1-8.9,12.1-13.4C14.7,0,15.2-0.1,16,0.1
		c4.9,1.1,9.8,2.2,14.7,3.3c1.3,0.3,1.7,1.3,0.8,2.3c-4.3,4.8-8.5,9.7-12.8,14.5c-0.5,0.6-1.1,0.7-1.9,0.5
		c-3.9-1.1-7.7-2.2-11.6-3.3c-0.5-0.1-1.1-0.2-1.6-0.2c-0.6,0-0.9,0.4-1.1,0.9c-0.4,1.3-0.3,2.6,0.7,3.7c0.3,0.4,0.8,0.7,1.2,0.8
		c4.3,1.3,8.7,2.6,13,3.8c0.4,0.1,0.6,0.1,0.9-0.2c3.5-4.1,6.9-8.3,10.4-12.4c0.3-0.3,0.3-0.6,0.3-1c0-0.9,0-1.7,0.2-2.6
		c0.2-0.8,0.8-1.2,1.5-1c0.7,0.2,1,0.8,0.8,1.6c-0.2,0.7-0.2,1.5,0,2.2c0.2,0.6,0,1.1-0.4,1.6c-3.9,4.6-7.8,9.2-11.7,13.8
		c-0.5,0.6-1,0.8-1.8,0.6c-4.8-1.4-9.6-2.8-14.4-4.2c-2-0.6-3-2.2-3.4-4.2c0-0.2-0.1-0.4-0.1-0.6C0,19.4,0,18.9,0,18.4z M14.8,4.7
		c-0.3,0.2-0.7,0.4-1.1,0.6c-0.3,0.2-0.4,0.5-0.7,0.7c-0.5,0.6-0.4,0.9,0.4,1.1c3,0.7,6,1.5,9.1,2.2c0.4,0.1,0.9,0,1.3-0.3
		c0.4-0.3,0.8-0.8,1.1-1.2c0.2-0.3,0.1-0.6-0.2-0.7c-0.2-0.1-0.4-0.1-0.6-0.2c-1.9-0.5-3.7-0.9-5.6-1.3C17.3,5.3,16.1,5,14.8,4.7z"
		/>
</g>
</svg>
            <div style="display:inline; margin-left:40px;">The Story of Tenzing</div>
        </a>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        <div class="sub-img-container"><img src="/templates/dist/img/DE_Poster_1100x471p.jpg" /></div>
    </div>
</div>