<!-- Modal fullscreen -->
<div class="modal modal-fullscreen fade" id="services-skills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content">
            <div class="modal-body">
                <a class="close utility-close-icon" data-dismiss="modal"></a>
                <div class="entry-content col-md-8">
                    <h1>SERVICES + SKILLS</h1>

                    <p class="text-uppercase">
                        If the world is a multi-channel, multi-screen, integrated, collaborative, real time, online, blender-obsessed,
                        24-7 cacophony of communications and attention-needy pitch-people of every description, you need to know that we
                        know how to navigate it and break clear on your behalf. Last we looked, there are about 4,000 ways to reach your
                        audience. Thankfully, you only need one Tenzing.</p>
                </div>
            </div>
        </div>
    </div>
</div>