<!-- Modal fullscreen -->
<div class="modal modal-fullscreen fade" id="services-skills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content">
            <div class="modal-body">
                <a class="close utility-close-icon" data-dismiss="modal"></a>

                <div class="entry-content col-md-8">
                    <h1>SERVICES + SKILLS</h1>

                    <p class="text-uppercase sub-content">
                        If the world is a multi-channel, multi-screen, integrated, collaborative, real time, online,
                        blender-obsessed, 24-7 cacophony of communications and attention-needy pitch-people of every
                        description, you need to know that we know how to navigate it and break clear on your behalf.
                        Last we looked, there are about 4,000 ways to reach your audience. Thankfully, you only need one
                        Tenzing.</p>

                    <h3>WE DO</h3>

                    <div class="we-do-list list">
                        <div class="col-1 col-md-4">
                            <ul>
                                <li>Brand Strategy</li>
                                <li>Design</li>
                                <li>Public Relations</li>
                                <li>Digital Design</li>
                                <li>Content Development</li>
                                <li>Social Media</li>
                                <li>Promotions</li>
                                <li>Video Production</li>
                            </ul>
                        </div>
                        <div class="col-2 col-md-4">
                            <ul>
                                <li>Package Design</li>
                                <li>Business Planning</li>
                                <li>Employee Communication</li>
                                <li>Meeting Facilitation</li>
                                <li>Internal Development Strategy</li>
                                <li>Media Planning & Buying</li>
                                <li>Advertising</li>
                            </ul>
                        </div>
                        <div class="col-3 col-md-4">
                            <ul>
                                <li>Media Relations</li>
                                <li>Positioning Strategy</li>
                                <li>Corporate Communications</li>
                                <li>Web & App Development</li>
                                <li>Stakeholder Orienteering</li>
                                <li>SEO</li>
                                <li>Merchandising</li>
                            </ul>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <p>Tenzing delivers all the services any client might require using a proven integration process and
                       the same team regardless of the sector, the medium or the disciplines needed.</p>

                    <h3>WE ARE</h3>

                    <div class="we-are-list list">
                        <div class="col-1 col-md-4">
                            <ul>
                                <li>Designers</li>
                                <li>Strategists</li>
                                <li>Digital Coders</li>
                                <li>Story Tellers</li>
                                <li>Directors</li>
                                <li>Project Managers</li>
                            </ul>
                        </div>
                        <div class="col-2 col-md-4">
                            <ul>
                                <li>Writers</li>
                                <li>Developers</li>
                                <li>Art Directors</li>
                                <li>Producers</li>
                                <li>Wranglers</li>
                                <li>Researchers</li>
                            </ul>
                        </div>
                        <div class="col-3 col-md-4">
                            <ul>
                                <li>Facilitators</li>
                                <li>Marketers</li>
                                <li>Dot-Connectors</li>
                                <li>Digital Architects</li>
                                <li>Sales Supporters</li>
                                <li>Sherpa</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <p>
                        Tenzing's relevant skill set is boundless. We do most of what we do in-house, and what we can't do in-house, we do with proven pros who understand and agree with our belief in the genuine-service-leads-to-trust mantra.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>