<div class="sub-container">
    <div class="text-div col-md-5 col-sm-5 col-xs-10 pull-left">
        <h1 class="mobile-title visible-xs">SPENDING</h1>

        <p>
            We don't watch the clock. We don't do time sheets.

            We don't have handlers and overseers. We are

            teams. We are seamless between disciplines: digital

            and traditional, strategy and deployment, design and

            content, between joy and jumping off-grid for

            weekends. For all these reasons, spending time and

            budget with Tenzing is a more rewarding experience.
        </p>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 col-xs-10 pull-right">
        <div class="sub-img-container">
            <div data-target="#lightbox-spending-page" data-toggle="modal" data-slide-to="0"
                 class="slide-container">
                <img class="lazy" src="/templates/dist/img/554x237/TZ_spending_554x237.jpg"
                     alt="Russell U.S thumbnail sheet" width="554" height="237" />
            </div>
        </div>
    </div>
</div>