<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        <p>
            Because we're a tad shy when it comes to self-promotion, some visitors are shocked by the business results,
            strategic scope and creative chutzpah, designs, web wisdom, advertising, social mobilization, moving video and
            Sherpa-like dexterity of our quaint but excessively competent brand and communications boutique in (but not
            limited by) downtown Toronto and London.
        </p>
        <p>
            Our Collaborative Branding™ process fits on a six-
            foot wall map that only looks daunting. It clarifies the
            journey from value proposition to marketing; it helps
            you organize tactics to help you do the right things at
            the right times, and facilitates organizational
            alignment to ensure your brand sticks. It's also a great
            way to explain what you do for a living to your Mom.
        </p>
        <br />
        <a href="https://www.facebook.com/Tenzing.co/" target="_blank" style="position:relative;display:inline-block;" class="sub-link social-icon-button">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 29 29" style="enable-background:new 0 0 29 29; width:29px; height:29px; display: inline-block; top:-10px;" xml:space="preserve">
	<metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
	<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c067 79.157747, 2015/03/30-23:40:42        ">
	   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
	      <rdf:Description rdf:about=""/>
	   </rdf:RDF>
	</x:xmpmeta>
	<?xpacket end="w"?></metadata>
	<style type="text/css">
		.sub-face {
            fill : #FFBD4F;
        }
	</style>
	<g>
	<path class="sub-face" d="M18.1,14.5h-2.3c0,3.7,0,8.4,0,8.4h-3.5c0,0,0-4.6,0-8.4h-1.7v-3h1.7V9.6c0-1.4,0.7-3.5,3.5-3.5l2.6,0V9
		c0,0-1.6,0-1.9,0c-0.3,0-0.7,0.2-0.7,0.8v1.7h2.7L18.1,14.5z"/>
	<g>
		<path class="sub-face" d="M26.2,2.2c0.3,0,0.6,0.3,0.6,0.6v23.3c0,0.3-0.3,0.6-0.6,0.6H2.8c-0.3,0-0.6-0.3-0.6-0.6V2.8
			c0-0.3,0.3-0.6,0.6-0.6H26.2 M26.2,0H2.8C1.3,0,0,1.3,0,2.8v23.3C0,27.7,1.3,29,2.8,29h23.3c1.6,0,2.8-1.3,2.8-2.8V2.8
			C29,1.3,27.7,0,26.2,0L26.2,0z"/>
	</g>
   </g>
   </svg>
            <div class="social-icon-text"> Join us on Facebook and get the lowdown on what we're up</div>
        </a>
        <br /><br />
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        <div class="sub-img-container">
            <img class="lazy" src="/templates/dist/img/554x237/TZ_surprising_554x237.jpg" alt="Collaborative Branding" width="554" height="237"/>
        </div>
    </div>
</div>