 
 <div class="sub-container">
	 <div class="text-div">
	 Because we're a tad shy when it comes to self-promotion, some visitors are shocked by the business results, strategic scope and creative chutzpah, designs, web wisdom, advertising, social mobilization, moving video and Sherpa-like dexterity of our quaint but excessively competent brand and communications boutique in (but not limited by) downtown Toronto and London.
	 
	 <br/><br/><a href="#" style="display:inline;margin-left:0;"><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29" style="width:29px;height:29px;"><style>.st0{fill:#ffbd4f}</style><path class="st0" d="M18.1 14.5h-2.3v8.4h-3.5v-8.4h-1.7v-3h1.7V9.6c0-1.4.7-3.5 3.5-3.5h2.6V9h-1.9c-.3 0-.7.2-.7.8v1.7h2.7l-.4 3z"/><path class="st0" d="M26.2 2.2c.3 0 .6.3.6.6v23.3c0 .3-.3.6-.6.6H2.8c-.3 0-.6-.3-.6-.6V2.8c0-.3.3-.6.6-.6h23.4m0-2.2H2.8C1.3 0 0 1.3 0 2.8v23.3C0 27.7 1.3 29 2.8 29h23.3c1.6 0 2.8-1.3 2.8-2.8V2.8C29 1.3 27.7 0 26.2 0z"/></svg></a>  <div style="display:inline;"> Join us on Facebook and get the lowdown on what we're up to.</div> 
	 </div>
	 
	 <div class="imgShow-div"><img src="http://placehold.it/554x237" width="554px" height="237px"/></div>
 </div>