<div class="sub-container">
    <div class="text-div col-md-6 col-sm-6 pull-left">
        <p>
            We do important work for hospitals, financial institutions, municipalities, business-to-business companies,
            retailers, tech companies, not-for-profits, consumer products, b2b services and the good of humankind as
            often
            as we can.
        </p>
        <br />

        <a href="#" style="position:relative;display:inline-block; height: 27px;" class="sub-link"
           data-target=".modal#current-client" data-toggle="modal">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 30 27" style="enable-background:new 0 0 29 29; width:29px; height:29px; display: inline-block; top:-10px;" xml:space="preserve">
<metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c067 79.157747, 2015/03/30-23:40:42        ">
   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
      <rdf:Description rdf:about=""/>
   </rdf:RDF>
</x:xmpmeta>
<?xpacket end="w"?></metadata>
<style type="text/css">
	.sub-face {
        fill : #F7A800;
    }
</style>
<g>
	<path class="sub-face" d="M30,13.4c-0.9,0-1.8,0-2.7,0c0-0.5-0.1-0.9-0.1-1.3c-0.1-1.5-0.6-3-1.2-4.4c-0.8-1.6-1.8-3-3.1-4.2
		c-1.9-1.7-4-2.7-6.5-3.2C15.1,0,13.9-0.1,12.7,0c-2.7,0.2-5.1,1-7.2,2.6C3,4.5,1.4,6.8,0.5,9.7c-0.4,1.5-0.6,3-0.5,4.6
		c0.2,2.8,1.2,5.2,3,7.4c2.1,2.5,4.8,4.1,8,4.8c1.1,0.2,2.3,0.3,3.4,0.2c2.7-0.2,5.2-1,7.4-2.7c0.5-0.4,1-0.8,1.4-1.2
		c0.6-0.5,0.5-1.4,0-1.9c-0.5-0.5-1.4-0.5-1.9,0c-1.6,1.5-3.5,2.6-5.7,2.9c-3.2,0.6-6.2-0.1-8.8-2.1c-2.1-1.6-3.5-3.8-4-6.4
		c-0.6-3.2,0.1-6.2,2.3-8.8c1.7-2.1,3.9-3.3,6.6-3.8c3.2-0.5,6,0.2,8.6,2.1c2.1,1.6,3.5,3.8,4,6.4c0.1,0.7,0.2,1.3,0.2,2
		c-0.9,0-1.8,0-2.8,0c1.4,1.8,2.7,3.6,4.1,5.3c0.5-0.6,0.9-1.2,1.4-1.8c0.9-1.1,1.7-2.2,2.6-3.4C29.9,13.5,29.9,13.5,30,13.4
		C30,13.4,30,13.4,30,13.4z"/>
	<path class="sub-face" d="M13.6,13.4c0.7,0,1.3,0,1.9,0c0.7,0,1.4,0,2.1,0c0.6,0,1.2,0.5,1.3,1.1c0.1,0.7-0.2,1.3-0.9,1.5
		C18,16,17.8,16,17.6,16c-1.7,0-3.4,0-5.1,0c-0.6,0-1.1-0.2-1.4-0.8c-0.1-0.2-0.1-0.5-0.1-0.7c0-2.6,0-5.1,0-7.7
		c0-0.8,0.5-1.5,1.3-1.5c0.8,0,1.4,0.6,1.4,1.4c0,2.1,0,4.3,0,6.4C13.6,13.2,13.6,13.3,13.6,13.4z"/>
</g>
</svg>
            <span style="display: inline-block;
    margin-left: 5px;
    margin-top: -25px;
    vertical-align: middle;">WHO Currently</span>
        </a>

        <br /><br />

        <a href="#" style="position:relative;display:inline-block;height: 27px;" class="sub-link" data-target=".modal#legacy-client" data-toggle="modal">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 30 27" style="enable-background:new 0 0 29 29; width:29px; height:29px; display: inline-block; top:-10px;" xml:space="preserve">
<metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c067 79.157747, 2015/03/30-23:40:42        ">
   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
      <rdf:Description rdf:about=""/>
   </rdf:RDF>
</x:xmpmeta>
<?xpacket end="w"?></metadata>
<style type="text/css">
	.sub-face {
        fill : #F7A800;
    }
</style>
<g>
	<path class="sub-face" d="M0,13.5c0.9,0,1.8,0,2.7,0c0-0.5,0.1-0.9,0.1-1.3c0.1-1.6,0.6-3,1.2-4.4c0.8-1.6,1.8-3,3.1-4.2
		c1.9-1.7,4-2.8,6.5-3.3C14.9,0,16.1-0.1,17.3,0c2.7,0.2,5.1,1.1,7.2,2.7c2.4,1.8,4.1,4.2,5,7.1c0.4,1.5,0.6,3.1,0.5,4.6
		c-0.2,2.8-1.2,5.3-3,7.5c-2.1,2.6-4.8,4.2-8,4.8C17.9,27,16.7,27,15.6,27c-2.7-0.2-5.2-1-7.4-2.7c-0.5-0.4-1-0.8-1.4-1.2
		c-0.6-0.5-0.5-1.4,0-1.9c0.5-0.5,1.4-0.5,1.9,0c1.6,1.6,3.5,2.6,5.7,3c3.2,0.6,6.2-0.1,8.8-2.1c2.1-1.7,3.5-3.8,4-6.4
		c0.6-3.3-0.1-6.3-2.3-8.9c-1.7-2.1-3.9-3.4-6.6-3.8C15.1,2.3,12.2,3,9.6,5c-2.1,1.6-3.5,3.8-4,6.4c-0.1,0.7-0.2,1.3-0.2,2.1
		c0.9,0,1.8,0,2.8,0c-1.4,1.8-2.7,3.6-4.1,5.4c-0.5-0.6-0.9-1.2-1.4-1.8C1.9,16,1,14.8,0.2,13.7C0.1,13.6,0.1,13.6,0,13.5
		C0,13.5,0,13.5,0,13.5z"/>
	<path class="sub-face" d="M16.4,13.5c0.7,0,1.3,0,1.9,0c0.7,0,1.4,0,2.1,0c0.6,0,1.2,0.5,1.3,1.1c0.1,0.7-0.2,1.3-0.9,1.5
		c-0.2,0.1-0.4,0.1-0.6,0.1c-1.7,0-3.4,0-5.1,0c-0.6,0-1.1-0.2-1.4-0.8c-0.1-0.2-0.1-0.5-0.1-0.7c0-2.6,0-5.2,0-7.8
		c0-0.9,0.5-1.5,1.3-1.5c0.8,0,1.4,0.6,1.4,1.4c0,2.2,0,4.3,0,6.5C16.4,13.3,16.4,13.4,16.4,13.5z"/>
</g>
</svg>
            <span style="display: inline-block;
    margin-left: 5px;
    margin-top: -25px;
    vertical-align: middle;">WHO Legacy</span>
        </a>
    </div>

    <div class="imgShow-div col-md-6 col-sm-6 pull-right">
        <div class="sub-img-container">
            <a href="#" data-target=".modal#current-client" data-toggle="modal">
                <img src="/templates/dist/img/554x237/TZ_WhosWho_554x237.jpg" />
            </a>
        </div>

    </div>

    <div class="modal fade modal-content-box" id="current-client" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">WHO Currently:</h4>
                </div>
                <div class="modal-body">
                    <div class="we-do-list skills-list no-border">
                        <div class="col-1 col-md-6 col-sm-6 column">
                            <ul>
                                <li>
                                    <div class="client-name">EY (Ernst & Young LLP)</div>
                                    <div>Web/Digital Advertising</div>
                                </li>
                                <li>
                                    <div class="client-name">Bruce County</div>
                                    <div>Brand/Economic Development</div>
                                </li>
                                <li>
                                    <div class="client-name">Canada's Credit Unions (SME)</div>
                                    <div>Advertising/Webinars/Publishing</div>
                                </li>
                                <li>
                                    <div class="client-name">Baker and Mckenzie</div>
                                    <div>Brand Development</div>
                                </li>
                                <li>
                                    <div class="client-name">The Commonwell Mutual Insurance Group</div>
                                    <div>Brand/Advertising</div>
                                </li>
                                <li>
                                    <div class="client-name">(CBV) Canadian Institute of Chartered BusinessValuators</div>
                                    <div>Brand/PR/Advertising/Publishing</div>
                                </li>
                                <li>
                                    <div class="client-name">Community Living Ontario</div>
                                    <div>Web Development</div>
                                </li>
                                <li>
                                    <div class="client-name">Conservation Council of Ontario</div>
                                    <div>Brand/Web Development</div>
                                </li>
                                <li>
                                    <div class="client-name">Echologics</div>
                                    <div>Brand/Sales Support</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2 col-md-6 col-sm-6 column">
                            <ul>
                                <li>
                                    <div class="client-name">GFL Environmental</div>
                                    <div>Design</div>
                                </li>
                                <li>
                                    <div class="client-name">Huntsville Hospital Foundation</div>
                                    <div>Strategy/Direct Mail/Advertising</div>
                                </li>
                                <li>
                                    <div class="client-name">Libro Credit Union</div>
                                    <div>Strategy/Brand/Advertising/Web</div>
                                </li>
                                <li>
                                    <div class="client-name">Lafarge</div>
                                    <div>Sales Support</div>
                                </li>
                                <li>
                                    <div class="client-name">(MSF) Doctors Without Borders</div>
                                    <div>Publishing</div>
                                </li>
                                <li>
                                    <div class="client-name">Reddin Global Inc.</div>
                                    <div>Brand/Web & App Development/Content</div>
                                </li>
                                <li>
                                    <div class="client-name">Runnymede Healthcare</div>
                                    <div>Brand/Annual Report/Web</div>
                                </li>
                                <li>
                                    <div class="client-name">Siskinds</div>
                                    <div>Brand/Advertising/Development</div>
                                </li>
                                <li>
                                    <div class="client-name">UofT Institute of Medical Sciences</div>
                                    <div>Web/Digital</div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-content-box" id="legacy-client" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">WHO Legacy:</h4>
                </div>
                <div class="modal-body">
                    <div class="we-do-list skills-list no-border">
                        <div class="col-1 col-md-6 col-sm-6 column">
                            <ul>
                                <li>OSRAM Sylvania</li>
                                <li>Russell Investments</li>
                                <li>Carrier HVAC</li>
                                <li>City of Mississauga</li>
                                <li>Town of Brighton</li>
                                <li>St. Joseph's Healthcare Hamilton</li>
                                <li>Hamilton Health Sciences</li>
                                <li>Western Fair</li>
                                <li>Nature Clean</li>
                                <li>City of St. Thomas</li>
                                <li>Northern Credit Union</li>
                                <li>Meridian Credit Union</li>
                                <li>Perrier / Lindt</li>
                                <li>Petro Canada</li>
                                <li>CGA Canada</li>
                                <li>Sifton Developments</li>
                            </ul>
                        </div>
                        <div class="col-2 col-md-6 col-sm-6 column">
                            <ul>
                                <li>Cadillac Fairview</li>
                                <li>Garden Gallery (Nurseries)</li>
                                <li>3M Canada</li>
                                <li>Best Foods</li>
                                <li>London Health Sciences (Foundation)</li>
                                <li>SAP</li>
                                <li>Evergreen</li>
                                <li>IBM</li>
                                <li>Symantec</li>
                                <li>Mitel Corporation</li>
                                <li>Canadian Language & Literacy Network</li>
                                <li>Bite TV</li>
                                <li>McGinnis Landing Restaurants</li>
                                <li>Wedgwood</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>