 <div class="sub-container">
	 <div class="text-div">
	 We do important work for hospitals, financial institutions, municipalities, business-to-business companies, retailers, tech companies, not-for-profits, consumer products, b2b services and the good of humankind as often as we can.
	 <br/><br/>
	 <a href="#" style="display:block;margin-left:0;"><img src="templates/dist/img/clock1.svg" width="30px" height="27px"><span style="margin-left:8px;padding-top:2px;">Current Clients</span></a><br/>
	 <a href="#" style="display:block;margin-left:0;"><img src="templates/dist/img/clock2.svg" width="30px" height="27px"><span style="margin-left:8px;padding-top:2px;">Recent Clients</span></a>   
	 </div>
	 
	 <div class="imgShow-div"><img src="templates/dist/img/DE_Can_1100x471p.jpg" width="554px" height="237px"/></div>
 </div>