<div class="modal fade modal-content-box" id="tenzing-story" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close-button utility-close-icon" data-dismiss="modal" title="tenzing story close button"></a>
            </div>
            <div class="modal-body">
                <div class="entry-content col-md-9">
                    <h1 class="title">The Story of Tenzing</h1>
                    <p class="sub-content line-height-1-5">
                        Tenzing Norgay was the Sherpa who guided Sir

                        Edmund Hillary to the top of Everest. He is our

                        namesake. And while we could have positioned

                        around clichés like reach the top and gaining

                        <em>uncluttered perspective</em>, we chose differently.

                        Tenzing's passion, expertise and willingness to put

                        others first serve as a metaphor for our craft and our

                        culture. We do the heavy lifting, we ensure everyone

                        makes the journey. We create and support legends in

                        the process. Internally, we give great talent the option

                        to practice what they love and make a meaningful

                        difference in this world by creating a work style and

                        environment that is contrary to industry stereotypes.

                        We attract tremendous clients as a result of who we

                        are - and that combination creates genuine success

                        stories.</p>
                </div>
            </div>
        </div>
    </div>
</div>