<div class="modal fade modal-content-box" id="tenzing-story" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header-sub-container">
                    <a class="close-button utility-close-icon" data-dismiss="modal" title="tenzing story close button"></a>
                </div>
            </div>
            <div class="modal-body">
                <div class="entry-content">
                    <h1 class="title">The Story of Tenzing</h1>
                    <p class="sub-content line-height-1-5">
                        Tenzing is both a common name and the first name of the guide (Tenzing Norgay) who took Sir
                        Edmund Hillary to the top of Everest. His son reached out to us in 2015 and asked if we were
                        using his dad's name for commercial gain. We replied no - we use the name Tenzing more as an
                        homage to Sherpa culture. It's not about climbing mountains for us (that would be so
                        predictable). Instead, it's about being expert guides, being humble, being collaborative and
                        remembering who's brand legend comes first. That would be yours.

                        And while we started our journey in 1989, we think our purpose has evolved somewhat since then.
                        We hope so - everything else has. Tenzing exists to help talented decent human beings make a
                        meaningful difference in the world by practicing creativity in a sustainable environment that
                        runs contrary to the stereotypes of our industry. It's a mouthful - but it explains the blend of
                        trust and laughter that mark our client and employee relationships.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>