<div class="modal fade modal-content-box" id="legacy-client" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header-sub-container">
                    <a class="close-button utility-close-icon text-indent-away-span" data-dismiss="modal" title="who legacy close button">
                        <span>close icon</span>
                        <svg class="utility-close-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.5 14.5"><style>.st0{fill:#fff}.st0,.st1{stroke:#949494;stroke-width:1.3065;stroke-miterlimit:10}.st1{fill:none;stroke-linecap:round}</style><circle class="st0" cx="7.2" cy="7.2" r="6.5"/><path class="st1" d="M4.4 10.1l5.7-5.7m0 5.7L4.4 4.4"/></svg>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="entry-content">
                    <h1 class="title">WHO Legacy:</h1>

                    <div class="we-do-list skills-list no-border">
                        <div class="col-1 col-md-6 col-sm-6 column">
                            <ul>
                                <li>OSRAM Sylvania</li>
                                <li>Russell Investments</li>
                                <li>Carrier HVAC</li>
                                <li>City of Mississauga</li>
                                <li>Town of Brighton</li>
                                <li>St. Joseph's Healthcare Hamilton</li>
                                <li>Hamilton Health Sciences</li>
                                <li>Western Fair</li>
                                <li>Nature Clean</li>
                                <li>City of St. Thomas</li>
                                <li>Northern Credit Union</li>
                                <li>Meridian Credit Union</li>
                                <li>Perrier / Lindt</li>
                                <li>Petro Canada</li>
                                <li>CGA Canada</li>
                                <li>Sifton Developments</li>
                            </ul>
                        </div>
                        <div class="col-2 col-md-6 col-sm-6 column">
                            <ul>
                                <li>Cadillac Fairview</li>
                                <li>Garden Gallery (Nurseries)</li>
                                <li>3M Canada</li>
                                <li>Best Foods</li>
                                <li>London Health Sciences (Foundation)</li>
                                <li>SAP</li>
                                <li>Evergreen</li>
                                <li>IBM</li>
                                <li>Symantec</li>
                                <li>Mitel Corporation</li>
                                <li>Canadian Language & Literacy Network</li>
                                <li>Bite TV</li>
                                <li>McGinnis Landing Restaurants</li>
                                <li>Wedgwood</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>