<div class="modal fade modal-content-box" id="legacy-client" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close-button utility-close-icon" data-dismiss="modal" title="who legacy close button"></a>

            </div>
            <div class="modal-body">
                <div class="entry-content col-md-9">
                    <h1 class="title">WHO Legacy:</h1>

                    <div class="we-do-list skills-list no-border">
                        <div class="col-1 col-md-6 col-sm-6 column">
                            <ul>
                                <li>OSRAM Sylvania</li>
                                <li>Russell Investments</li>
                                <li>Carrier HVAC</li>
                                <li>City of Mississauga</li>
                                <li>Town of Brighton</li>
                                <li>St. Joseph's Healthcare Hamilton</li>
                                <li>Hamilton Health Sciences</li>
                                <li>Western Fair</li>
                                <li>Nature Clean</li>
                                <li>City of St. Thomas</li>
                                <li>Northern Credit Union</li>
                                <li>Meridian Credit Union</li>
                                <li>Perrier / Lindt</li>
                                <li>Petro Canada</li>
                                <li>CGA Canada</li>
                                <li>Sifton Developments</li>
                            </ul>
                        </div>
                        <div class="col-2 col-md-6 col-sm-6 column">
                            <ul>
                                <li>Cadillac Fairview</li>
                                <li>Garden Gallery (Nurseries)</li>
                                <li>3M Canada</li>
                                <li>Best Foods</li>
                                <li>London Health Sciences (Foundation)</li>
                                <li>SAP</li>
                                <li>Evergreen</li>
                                <li>IBM</li>
                                <li>Symantec</li>
                                <li>Mitel Corporation</li>
                                <li>Canadian Language & Literacy Network</li>
                                <li>Bite TV</li>
                                <li>McGinnis Landing Restaurants</li>
                                <li>Wedgwood</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>