<div class="modal fade modal-content-box" id="current-client" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close-button utility-close-icon" data-dismiss="modal" title="who currently close button"></a>
            </div>
            <div class="modal-body">
                <div class="entry-content col-md-9">
                    <h1 class="title">WHO Currently:</h1>

                    <div class="we-do-list skills-list no-border">
                        <div class="col-1 col-md-6 col-sm-6 column">
                            <ul>
                                <li>
                                    EY (Ernst & Young LLP)
                                </li>
                                <li>
                                    Bruce County
                                </li>
                                <li>
                                    Canada's Credit Unions (SME)
                                </li>
                                <li>
                                    Baker and Mckenzie
                                </li>
                                <li>
                                    The Commonwell Mutual Insurance Group
                                </li>
                                <li>
                                    (CBV) Canadian Institute of Chartered
                                    BusinessValuators

                                </li>
                                <li>
                                    Community Living Ontario
                                </li>
                                <li>
                                    Conservation Council of Ontario
                                </li>
                                <li>
                                    Echologics
                                </li>
                                <li>
                                    GFL Environmental
                                </li>
                                <li>
                                    Huntsville Hospital Foundation
                                </li>
                                <li>
                                    Libro Credit Union
                                </li>
                                <li>
                                    Lafarge
                                </li>
                                <li>
                                    (MSF) Doctors Without Borders
                                </li>
                                <li>
                                    Reddin Global Inc.
                                </li>
                                <li>
                                    Runnymede Healthcare
                                </li>
                                <li>
                                    Siskinds
                                </li>
                                <li>
                                    UofT Institute of Medical Sciences
                                </li>
                            </ul>
                        </div>
                        <div class="col-2 col-md-6 col-sm-6 column">
                            <ul>
                                <li>
                                    Web/Digital Advertising
                                </li>
                                <li>
                                    Brand/Economic Development
                                </li>
                                <li>
                                    Advertising/Webinars/Publishing
                                </li>
                                <li>
                                    Brand Development
                                </li>
                                <li>
                                    Brand/Advertising
                                </li>
                                <li>
                                    Brand/PR/Advertising/Publishing
                                </li>
                                <li>
                                    Web Development
                                </li>
                                <li>
                                    Brand/Web Development
                                </li>
                                <li>
                                    Brand/Sales Support
                                </li>
                                <li>
                                    Design
                                </li>
                                <li>
                                    Strategy/Direct Mail/Advertising
                                </li>
                                <li>
                                    Strategy/Brand/Advertising/Web
                                </li>
                                <li>
                                    Sales Support
                                </li>
                                <li>
                                    Publishing
                                </li>
                                <li>
                                    Brand/Web & App Development/Content
                                </li>
                                <li>
                                    Brand/Annual Report/Web
                                </li>
                                <li>
                                    Brand/Advertising/Development
                                </li>
                                <li>
                                    Web/Digital
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>