<div class="modal fade modal-content-box" id="current-client" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close-button utility-close-icon" data-dismiss="modal" title="who currently close button"></a>
            </div>
            <div class="modal-body">
                <div class="entry-content col-md-9">
                    <h1 class="title">WHO Currently:</h1>

                    <div class="we-do-list skills-list no-border">
                        <div class="col-1 col-md-12 col-sm-12 column">
                            <ul>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">EY (Ernst & Young LLP)</div>
                                    <div class="col-md-6 col-sm-6 obl">Web/Digital Advertising</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Buce County</div>
                                    <div class="col-md-6 col-sm-6 obl">Brand/Economic Development</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Canada's Credit Unions (SME)</div>
                                    <div class="col-md-6 col-sm-6 obl">Advertising/Webinars/Publishing</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Baker and Mckenzie</div>
                                    <div class="col-md-6 col-sm-6 obl">Brand Development</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">The Commonwell Mutual Insurance Group</div>
                                    <div class="col-md-6 col-sm-6 obl">Brand/Advertising</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">(CBV) Canadian Institute of Chartered BusinessValuators</div>
                                    <div class="col-md-6 col-sm-6 obl">Brand/PR/Advertising/Publishing</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Community Living Ontario</div>
                                    <div class="col-md-6 col-sm-6 obl">Web Development</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Conservation Council of Ontario</div>
                                    <div class="col-md-6 col-sm-6 obl">Brand/Web Development</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Echologics</div>
                                    <div class="col-md-6 col-sm-6 obl">Brand/Sales Support</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">GFL Environmental</div>
                                    <div class="col-md-6 col-sm-6 obl">Design</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Huntsville Hospital Foundation</div>
                                    <div class="col-md-6 col-sm-6 obl">Strategy/Direct Mail/Advertising</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Libro Credit Union</div>
                                    <div class="col-md-6 col-sm-6 obl">Strategy/Brand/Advertising/Web</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Lafarge</div>
                                    <div class="col-md-6 col-sm-6 obl">Sales Support</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">(MSF) Doctors Without Borders</div>
                                    <div class="col-md-6 col-sm-6 obl">Publishing</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Reddin Global Inc.</div>
                                    <div class="col-md-6 col-sm-6 obl">Brand/Web & App Development/Content</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Runnymede Healthcare</div>
                                    <div class="col-md-6 col-sm-6 obl">Brand/Annual Report/Web</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">Siskinds</div>
                                    <div class="col-md-6 col-sm-6 obl">Brand/Advertising/Development</div>
                                </li>
                                <li class="row">
                                    <div class="col-md-6 col-sm-6">UofT Institute of Medical Sciences</div>
                                    <div class="col-md-6 col-sm-6 obl">Web/Digital</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>