<div id="serving-image-video" class="imageVideo">
    <img class="image-loading-icon" src="/templates/dist/img/loading.gif" alt="Loading icon"/>
    <div class="progressBar"></div>
    <div id="serving-container" class="image-wrap">
        <div class="image-container">
            <img class="image-item lazy" data-effect="pan-down" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/serving/Coalman_Glacier_usfs_508059-Roland-Emetez.jpg" alt="Coalman Glacier" width="474" height="665"/>
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-out-right" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/serving/Everest_Peace_Project_-_Everest_summit.jpg" alt="Everest Peace Project" width="508" height="311"/>
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-out-right" data-scale="best-fill" data-align="top-left" data-move="fade"
                 data-src="/templates/dist/img/serving/Sherpa_Hikes_from_Dughla_Towards_Lobuche-Niklassletteland.jpg" alt="Sherpa_Hikes_from_Dughla_Towards_Lobuche" width="1458" height="972"/>
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="pan-right" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/serving/Mount_Everest_-_Kerem_Barut.jpg" alt="Mount Everest" width="1435" height="572"/>
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-in-right" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/serving/Hillary_and_tenzing-Jamling-Tenzing-Norgay.jpg" alt="Hillary and tenzing" width="828" height="494"/>
        </div>

        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-out-down" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/serving/Ortler_Ascent_-_South_Tyrol-Noclador.jpg" alt="Ortler Ascent - South Tyrol" width="1437" height="1600"/>
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-in-left" data-scale="best-fill" data-align="top-left" data-move="up-down"
                 data-src="/templates/dist/img/serving/Tenzing_and_Hillary-Dirk-Pons.jpg" alt="Tenzing and Hillary" width="1237" height="847"/>
        </div>
    </div>
    <button class="pause-button" tabindex="-1">PAUSE</button>
</div>