<div id="spending-image-video" class="imageVideo cursor-pointer" data-target="#lightbox-spending-page" data-toggle="modal" data-slide-to="0">
    <div class="image-wrap">
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/RUS_GP2_AI_Version_R1.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/RUS_GP2_Booth_A.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/RUS_GP2_Booth_B.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/RUS_GP2_Booth_C.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/RUS_GP2_Brochure_R1B_1.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left" data-move="fade"
                 data-original="/templates/dist/img/spending/RUS_GP2_Brochure_R1B_2.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left" data-move="up-down"
                 data-original="/templates/dist/img/spending/RUS_GP2_Brochure_R1B_3.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left" data-move="up-down"
                 data-original="/templates/dist/img/spending/RUS_GP2_Brochure_R1B_4.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left" data-move="up-down"
                 data-original="/templates/dist/img/spending/RUS_GP2_Brochure_R1B_5.jpg" />
        </div>
    </div>
    <button class="pause-button playing">PAUSE</button>
</div>