<div id="spending-image-video" class="imageVideo">
    <div class="image-wrap">
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/Coalman_Glacier_usfs_508059-©-Roland-Emetez.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/Everest_Peace_Project_-_Everest_summit.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/Hillary_and_tenzing-©-Jamling-Tenzing-Norgay.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/Mount_Everest_©_Kerem_Barut.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/spending/Ortler_Ascent_-_South_Tyrol-©-Noclador.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left" data-move="fade"
                 data-original="/templates/dist/img/spending/Sherpa_Hikes_from_Dughla_Towards_Lobuche-©-Niklassletteland.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item" data-scale="best-fill" data-align="top-left" data-move="up-down"
                 data-original="/templates/dist/img/spending/Tenzing_and_Hillary-©-Dirk-Pons.jpg" />
        </div>
    </div>
    <button class="pause-button">PAUSE</button>
</div>