<div id="surprising-image-video" class="imageVideo">
    <div class="image-wrap">
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Arowhon-Canoe.jpg" alt="Arowhon Canoe" width="1426"
                 height="1065" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Arowhon-Pines-Website.jpg" alt="Arowhon Pines Website"
                 width="1310" height="981" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Bruce_Poster.jpg" alt="Bruce Poster" width="1503"
                 height="963" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/citi-optimize.gif" alt="Citi Website Movement"
                 width="640" height="400" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/CRIHC_Poster.jpg" alt="CRIHC Poster" width="1650"
                 height="1595" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left" data-move="fade"
                 data-original="/templates/dist/img/surprising/Echologics-Website-Frame-1.jpg" alt="Echologics-Website"
                 width="1074" height="818" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left" data-move="up-down"
                 data-original="/templates/dist/img/surprising/Echologics-Website-Frame-2.jpg" alt="Echologics-Website"
                 width="1074" height="818" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left" data-move="zoom"
                 data-original="/templates/dist/img/surprising/EY-Filming.jpg" alt="EY Filming" width="1317"
                 height="1317" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left" data-move="rotate"
                 data-original="/templates/dist/img/surprising/EY_Photoshoot.jpg" alt="EY Photoshoot" width="960"
                 height="720" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Libro-Filming.jpg" alt="Libro Filming" width="960"
                 height="720" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Russell-Poster-1.jpg" alt="Russell Poster Girl"
                 width="2040" height="1320" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Russell-Poster-2.jpg" alt="Russell Poster Guy"
                 width="2040" height="1320" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Siskinds-BBoard.jpg" alt="Siskinds BBoard" width="1504"
                 height="757" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/St-Joes-Website.jpg" alt="St Joes Website" width="1407"
                 height="875" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/St-Joes_Poster.jpg" alt="St Joes Poster" width="1500"
                 height="1125" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/VIDEO-CLIP_EY-19s-20s.gif" alt="EY Video Clip"
                 width="640" height="360" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/VIDEO-CLIP_StJoes-1s-3s.gif" alt="St Joes Video Clip"
                 width="640" height="360" />
        </div>
    </div>
    <button class="pause-button playing" tabindex="-1">PAUSE</button>
</div>