<div id="surprising-image-video" class="imageVideo">
    <img class="image-loading-icon" src="/templates/dist/img/loading.gif" alt="Loading icon" width="128" height="128"/>
    <div class="progressBar"></div>
    <div id="surprising-container" class="image-wrap">
        <div class="image-container">
            <img class="image-item lazy" data-effect="pan-right" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/surprising/Arowhon_Panorama-NEW.jpg" alt="Arowhon Canoe" width="4199" height="738" />
        </div>
        <div class="image-container">
            <video style="border:none;" data-start="19" width="640" height="480" muted>
                <source data-src="/templates/src/videos/EY_480p_CLIPCHAMP_360p.mp4" />
            </video>
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-out" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/surprising/Arowhon-Pines-Website-NEW.jpg" alt="Arowhon Pines Website" width="1195" height="738" />
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-in-down" data-scale="best-fill" data-align="top-left" data-pan="zoom" data-src="/templates/dist/img/surprising/EY-Filming.jpg" alt="EY Filming" width="2195" height="2195" />
        </div>
        <div class="image-container">
            <video style="border:none;" data-start="0" width="640" height="480" muted>
                <source data-src="/templates/src/videos/StJoes.mp4" />
            </video>
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-out" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/surprising/Bruce_Poster-NEW.jpg" alt="Bruce Poster" width="4877" height="2825" />
        </div>
        <div class="image-container">
            <video class="fit-height" data-start="11" style="border:none;" width="640" height="480" muted>
                <source data-src="/templates/src/videos/citi_480p_CLIPCHAMP_360p.mp4" />
            </video>
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-out-down" data-scale="best-fill" data-align="top-left" data-src="/templates/dist/img/surprising/Libro-Filming.jpg" alt="Libro Filming" width="960" height="720" />
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="pan-right" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/surprising/Siskinds-BBoard.jpg" alt="Siskinds BBoard" width="1504" height="757" />
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="pan-right" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/surprising/Russell-Poster-1.jpg" alt="Russell Poster Girl" width="5100" height="3300" />
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-out" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/surprising/St-Joes-Website-NEW.jpg" alt="St Joes Website" width="1033" height="624" />
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-scale="best-fill" data-align="top-left" data-src="/templates/dist/img/surprising/Echologics-Website-Frame-1-NEW.jpg" alt="Echologics-Website" width="1005" height="694" />
        </div>
        <div class="image-container">
            <img class="image-item lazy" data-scale="best-fill" data-align="top-left" data-src="/templates/dist/img/surprising/Echologics-Website-Frame-2-NEW.jpg" alt="Echologics-Website" width="1005" height="694" />
        </div>

        <div class="image-container">
            <img class="image-item lazy" data-effect="zoom-in-down" data-scale="best-fill" data-align="top-left" data-pan="rotate" data-src="/templates/dist/img/surprising/EY_Photoshoot.jpg" alt="EY Photoshoot" width="960" height="720" />
        </div>

        <div class="image-container">
            <img class="image-item lazy" data-effect="pan-down" data-scale="best-fill" data-align="top-left"
                 data-src="/templates/dist/img/surprising/CRIHC_Poster-NEW.jpg" alt="CRIHC Poster" width="3078" height="3078" />
        </div>
    </div>
    <button class="pause-button" tabindex="-1">PAUSE</button>
</div>