<div id="surprising-image-video" class="imageVideo">
    <div class="image-wrap">
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Arowhon-Pines-Website.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Arowhon-Canoe.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Bruce_Poster.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/citi-optimize.gif" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/CRIHC_Poster.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left" data-move="fade"
                 data-original="/templates/dist/img/surprising/Echologics-Website-Frame-1.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left" data-move="up-down"
                 data-original="/templates/dist/img/surprising/Echologics-Website-Frame-2.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left" data-move="zoom"
                 data-original="/templates/dist/img/surprising/EY-Filming.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left" data-move="rotate"
                 data-original="/templates/dist/img/surprising/EY_Photoshoot.jpg" />
        </div>

        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Libro-Filming.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Russell-Poster-1.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Russell-Poster-2.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/Siskinds-BBoard.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/St-Joes-Website.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/St-Joes_Poster.jpg" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/VIDEO-CLIP_EY-19s-20s.gif" />
        </div>
        <div class="image-container">
            <img class="image-video-item lazy" data-scale="best-fill" data-align="top-left"
                 data-original="/templates/dist/img/surprising/VIDEO-CLIP_StJoes-1s-3s.gif" />
        </div>
    </div>
    <button class="pause-button">PAUSE</button>
</div>