body {
    font-family : $font-site-default;
    @include font-size(1.8);
    color: #989799;
}

h1, h2, h3, h4, h5, h6 {
    color : #77777a;
    font-family: $font-site-bold;
}

h1 {
    @include font-size(6.6);
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

img{width:100%;}