body {
    font-family : $font-site-default;
    @include font-size(1.8);
    color: #767676;

    // To fix lightbox zoom issue on IOS
    min-height: 100vh;

    /* ==========================================================================
      Browser Upgrade Prompt
      ========================================================================== */

    .browserupgrade {
        margin: 0;
        background: #f7a800;
        color: #989799;
        padding: 10px 27px;
        a {
            color : #ffffff;;
        }
    }

    &.full-screen-modal-open {
        overflow: hidden !important;
        padding-right: 15px !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    color : $h1-color;
    font-family: $font-site-bold;
}

h1 {
    @include font-size(6.6);
}

h2 {
    @include font-size(4.1);
}

h3 {
    @include font-size(3.0);

}

h4 {
    @include font-size(2.4);

}

h5 {
    @include font-size(2.4);

}

h6 {
    @include font-size(2.4);
}

p {
    @include font-size(1.4);
    line-height: 1.2;
    margin-bottom: 17px;
}


.obl {
    font-family : $font-site-obl;
}

.bold-obl {
    font-family : $font-site-bold-obl;
    color: #77777a;
}

.bold {
    font-family : $font-site-bold;
    color: #77777a;
}

ul, ol {
    padding-left: 30px;
    li {
        @include font-size(1.4);
        line-height: 1.2;
    }
}

@media screen and (max-width : 639px) {
    p {
        line-height: 1.6;
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* Prevents img without src to appear */
img:not([src]) {
    visibility: hidden;
}

img.fit-height {
    width: auto;
    max-height: 100%;
    max-width: inherit;
}

img.fit-width {
    max-width: 100%;
}

a {
    color:#f7a800;
    &:hover {
        color : #77777a;
    }
}

.bold-two {
    font-family: $font-site-bold, "Arial", "sans-serif";
}

.cursor-pointer {
    cursor: pointer;
}

.text-indent-away {
    text-indent: -999999px;
}

.text-indent-away-span {
    span {
        text-indent: -999999px;
        display: block;
        position: absolute;
    }
}

.lazy-loading {
    position : absolute;
    display  : block;
    width    : 30px;
    height   : 30px;
    top      : calc(50% - 15px);
    left     : calc(50% - 15px);
    z-index  : 100;
}
