.loading-icon {
    position : absolute;
    left     : calc(50% - 65px);
    top      : 100px;
}

.gallery-container {
    .gallery-item {
        display       : inline-block;
        margin        : 3px;

        position      : relative;
        float         : left;
        margin-right  : 5px;
        margin-bottom : 5px;
        cursor        : pointer;

        &:before {
            background : none;
            transition : all .3s linear;
        }

        &:hover {
            &:before {
                content    : "";
                display    : block;
                position   : absolute;
                top        : 0;
                bottom     : 0;
                left       : 0;
                right      : 0;
                background : rgba(247, 168, 0, 0.5);
                transition : all .3s linear;
            }

        }

        .video-play-icon {
            display    : block;
            background : url("/templates/dist/img/video-play.svg") no-repeat;
            width      : 70px;
            height     : 70px;
            position   : absolute;
            top        : calc(50% - 36px);
            left       : calc(50% - 36px);
        }
    }

}

.left.carousel-control {
    -ms-filter       : none !important;
    filter           : none !important;
    background-image : none;
}

.right.carousel-control {
    -ms-filter       : none !important;
    filter           : none !important;
    background-image : none;
}

.utility-close-icon {
    width    : 15px;
    height   : 15px;
    display  : inline-block;
    position : absolute;
    right    : 15px;
    top      : 15px;
    opacity  : 1;
}

.pop-close-icon {
    background          : url(../../dist/img/pop-close-icon.svg) no-repeat;
    width               : 30px;
    height              : 30px;
    display             : inline-block;
    position            : absolute;
    left                : 10px;
    top                 : 10px;
    opacity             : 1;
    z-index: 9999;

    background-size     : 15px 15px;
    background-position : 50% 50%;

    transition          : transform 0.3s;
    &:hover, &:active {
        transform           : rotate(90deg);
        background          : url(../../dist/img/pop-close-icon-hover.svg) no-repeat;
        background-size     : 15px 15px;
        background-position : 50% 50%;
    }
}

.carousel.slide {
    .carousel-inner {
        .item {
            .slide-container {
                .video-play-icon {
                    display    : block;
                    background : url("/templates/dist/img/video-play.svg") no-repeat;
                    width      : 70px;
                    height     : 70px;
                    position   : absolute;
                    top        : calc(50% - 36px);
                    left       : calc(50% - 36px);
                }
            }
        }
    }

    .carousel-control {
        &:focus {
            outline : 5px auto -webkit-focus-ring-color;
        }
    }
}

.videoWrapper {
    position       : relative;
    padding-bottom : 56.25%;
    padding-top    : 35px;
    height         : 0;
    overflow       : hidden;

    iframe, video {
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    .video-play-button {
        display  : none;
        position : absolute;
        z-index  : 99;
        top      : calc(50% - 35px);
        left     : calc(50% - 35px);
        width    : 70px;
        height   : 70px;

        @include transition-all(0.25);
        opacity  : 0.5;

        &:hover, &:active, &:focus {
            opacity : 1;
        }
    }
}

@media screen and (min-width : 1040px) {
    .carousel.slide.fade.in {
        .left-arrow {
            box-sizing             : border-box;
            color                  : rgb(255, 255, 255);
            cursor                 : pointer;
            display                : block;
            font-family            : 'Glyphicons Halflings';
            font-size              : 30px;
            font-style             : normal;
            font-weight            : normal;
            height                 : 97px;
            width                  : 37px;
            left                   : 41.5469px;
            line-height            : 30px;
            list-style-image       : none;
            list-style-position    : outside;
            list-style-type        : none;
            margin-left            : -10px;
            margin-top             : -10px;
            position               : absolute;
            text-align             : center;
            text-shadow            : rgba(0, 0, 0, 0.6) 0px 1px 2px;
            top                    : 45%;
            z-index                : 5;
            -webkit-font-smoothing : antialiased;
            background             : url(../../dist/img/left-arrow.svg) no-repeat;

        }
        .right-arrow {
            box-sizing             : border-box;
            color                  : rgb(255, 255, 255);
            cursor                 : pointer;
            display                : block;
            font-family            : 'Glyphicons Halflings';
            font-size              : 30px;
            font-style             : normal;
            font-weight            : normal;
            height                 : 97px;
            width                  : 37px;
            line-height            : 30px;
            list-style-image       : none;
            list-style-position    : outside;
            list-style-type        : none;
            margin-right           : -10px;
            margin-top             : -10px;
            position               : absolute;
            right                  : 41.5469px;
            text-align             : center;
            text-shadow            : rgba(0, 0, 0, 0.6) 0px 1px 2px;
            top                    : 45%;
            z-index                : 5;
            -webkit-font-smoothing : antialiased;
            background             : url(../../dist/img/right-arrow.svg) no-repeat;
        }

        .carousel-control {
            opacity : 1;
            width   : 10%;
            z-index: 99;
        }

        .carousel-control.left {
            &:hover, &:active, &.pressed {
                .left-arrow {
                    background : url(../../dist/img/left-arrow-hover.svg) no-repeat;
                }
            }
        }

        .carousel-control.right {

            &:hover, &:active, &.pressed {
                .right-arrow {
                    background : url(../../dist/img/right-arrow-hover.svg) no-repeat;
                }
            }
        }

        .modal-dialog {
            width     : auto;
            max-width : 65%;
            margin    : auto;
            height    : 100%;

            .modal-content {
                box-shadow       : none;
                border           : none;
                background-color : transparent;
                @include vertical-align(relative);
                @include transition-all(0.25);

                .modal-body {
                    min-height : 100px;
                }

            }
            .carousel-inner {
                height        : auto;
                margin-bottom : 30px;
                .item, .pop-img-container {
                    height : 100%;
                    img {
                        margin : 0 auto 30px;
                    }

                    .videoWrapper {
                        position  : relative;
                        max-width : 100%;
                        height    : auto;
                        margin    : 0 auto 30px;
                    }
                    .videoWrapper iframe, video {
                        //max-width  : 100%;
                        //max-height : 500px;
                        //
                        //margin     : 0 auto;
                        //width      : 100%;
                    }
                }
            }
            .carousel-caption {
                @include font-size(1.2);
                position   : relative;
                margin     : 0 auto;
                padding    : 0;
                left       : 0;
                right      : auto;
                height     : auto;
                text-align : left;
                bottom     : initial;
            }

            .carousel-indicators {
                position : relative;
                bottom   : 0;
                left: 0;
                margin: 0;
                width: auto;

                li {
                    border           : none;
                    background-color : #fff;

                    &:hover {
                        background : #f7a800;
                    }
                }
                .active {
                    background-color : #55565a;
                }
            }
        }
    }

}

@media screen and (min-width : 640px) and (max-width : 1039px) {
    .carousel.slide.fade.in {
        .left-arrow {
            box-sizing             : border-box;
            color                  : rgb(255, 255, 255);
            cursor                 : pointer;
            display                : block;
            font-family            : 'Glyphicons Halflings';
            font-size              : 30px;
            font-style             : normal;
            font-weight            : normal;
            height                 : 97px;
            width                  : 37px;
            left                   : 41.5469px;
            line-height            : 30px;
            list-style-image       : none;
            list-style-position    : outside;
            list-style-type        : none;
            margin-left            : -10px;
            margin-top             : -10px;
            position               : absolute;
            text-align             : center;
            text-shadow            : rgba(0, 0, 0, 0.6) 0px 1px 2px;
            top                    : 45%;
            z-index                : 5;
            -webkit-font-smoothing : antialiased;
            background             : url(../../dist/img/left-arrow.svg) no-repeat;

        }
        .right-arrow {
            box-sizing             : border-box;
            color                  : rgb(255, 255, 255);
            cursor                 : pointer;
            display                : block;
            font-family            : 'Glyphicons Halflings';
            font-size              : 30px;
            font-style             : normal;
            font-weight            : normal;
            height                 : 97px;
            width                  : 37px;
            line-height            : 30px;
            list-style-image       : none;
            list-style-position    : outside;
            list-style-type        : none;
            margin-right           : -10px;
            margin-top             : -10px;
            position               : absolute;
            right                  : 41.5469px;
            text-align             : center;
            text-shadow            : rgba(0, 0, 0, 0.6) 0px 1px 2px;
            top                    : 45%;
            z-index                : 5;
            -webkit-font-smoothing : antialiased;
            background             : url(../../dist/img/right-arrow.svg) no-repeat;
        }

        .carousel-control {
            z-index: 99;
            width   : 10%;
            opacity : 1;
        }

        .carousel-control.left {
            &:hover, &:active, &.pressed {
                .left-arrow {
                    background : url(../../dist/img/left-arrow-hover.svg) no-repeat;
                }
            }
        }

        .carousel-control.right {
            &:hover, &:active, &.pressed {
                .right-arrow {
                    background : url(../../dist/img/right-arrow-hover.svg) no-repeat;
                }
            }
        }

        .modal-dialog {
            width     : auto;
            max-width : 65%;
            margin    : auto;
            height    : 100%;

            .modal-content {
                box-shadow       : none;
                border           : none;
                background-color : transparent;
                @include vertical-align(relative);
                @include transition-all(0.25);

                .modal-body {
                    min-height : 100px;
                }
            }
            .carousel-inner {
                height        : auto;
                margin-bottom : 30px;
                .item, .pop-img-container {
                    height : 100%;

                    img {
                        margin : 0 auto 30px;
                    }

                    .videoWrapper {
                        position  : relative;
                        max-width : 100%;
                        height    : auto;
                        margin    : 0 auto 30px;
                    }
                    .videoWrapper iframe, video {
                        //max-width  : 100%;
                        //max-height : 500px;
                    }
                }
            }
            .carousel-caption {
                @include font-size(1.2);
                position   : relative;
                margin     : 0 auto;
                padding    : 0;
                left       : 0;
                right      : auto;
                height     : auto;
                text-align : left;
                bottom     : initial;
            }

            .carousel-indicators {
                position : relative;
                bottom   : 0;
                left: 0;
                margin: 0;
                width: auto;
                li {
                    border           : none;
                    background-color : #fff;

                    &:hover {
                        background : #f7a800;
                    }
                }
                .active {
                    background-color : #55565a;
                }
            }
        }
    }
}

@media screen and (max-width : 639px) {
    .carousel.slide {
        .carousel-inner {
            width      : 100%;
            height     : auto;
            min-height : 230px;
        }
    }

    .gallery-container {
        .gallery-item {
            img {
                max-width : 90px;
            }
        }
    }

    .gallery-carousel-page {
        .modal-dialog {
            height : 100%;
            width  : auto;

            .modal-body {
                height : 95%;
            }
            .carousel-inner {
                height : 90%;
                .item {
                    height : 100%;
                    img {
                        margin     : 0 auto;
                        max-height : 100%;
                        width      : auto;
                    }
                }
            }

        }
    }

    .carousel.slide.fade.in {
        margin-top : 60px;

        .modal-dialog {
            width     : auto;
            max-width : 80%;
            margin    : auto;
            height    : 100%;

            .modal-content {
                box-shadow       : none;
                border           : none;
                background-color : transparent;
                @include vertical-align(relative);
                @include transition-all(0.25);

                .modal-body {
                    min-height : 100px;
                    .carousel-control {
                        opacity : 1;
                        z-index: 99;
                    }

                    .carousel-indicators {
                        position : relative;
                        bottom   : 0;
                        left: 0;
                        margin: 0;
                        width: auto;
                        li {
                            border           : none;
                            background-color : #fff;

                            &:hover {
                                background : #f7a800;
                            }
                        }
                        .active {
                            background-color : #55565a;
                        }
                    }

                    .carousel-inner {
                        height : 90%;
                        .item, .pop-img-container {
                            img {
                                margin : 0 auto 30px;
                            }
                        }
                        .videoWrapper {
                            position  : relative;
                            max-width : 100%;
                            height    : auto;
                            margin    : 0 auto 30px;
                        }
                        .videoWrapper iframe, video {
                            //max-width  : 100%;
                            //max-height : 500px;
                            //height     : auto;
                        }

                        .carousel-caption {
                            @include font-size(1.2);
                            position   : relative;
                            margin     : 0 auto;
                            padding    : 0;
                            left       : 0;
                            right      : auto;
                            height     : auto;
                            text-align : left;
                            bottom     : initial;
                        }
                    }
                }
            }
        }

    }
}






