.sub-link {
  &:hover, &:focus {
    .sub-face {
      fill : $text-grey;
    }
    div {
      text-decoration : underline;
    }
  }
}

@media screen and (min-width : 1040px) {
  .entry-content {
    margin-top : 30px;
    .main-menu {
      margin : 70px auto 0 auto;
      ul {
        list-style : none;
        padding    : 0;
        > li {
          line-height : 0.9;
          position    : relative;

          > a {
            display        : inline-block;
            margin-left    : 30px;
            @include font-size(6.7);
            font-family    : $font-site-bold;
            color          : $main-menu-dark-grey;
            text-transform : uppercase;
            overflow       : hidden;
            vertical-align : middle;

            .grey {
              color : $main-menu-light-grey;
            }

            &.orange {
              color : #f7a800 !important;
              .grey {
                color : #ffe0ae !important;
              }
            }

            &:hover, &:focus {
              text-decoration : none;
            }
          }

          #engaging, #integrating, #spending {
            color : $main-menu-light-grey;
            &.orange {
              color : #f7a800 !important;
              .grey {
                color : #f7a800 !important;
              }
            }
            &:hover, &:focus {
              text-decoration : none;
            }
          }
          .page-content {
            position : relative;
            overflow : hidden;
            height   : 0;
            width    : 96%;

            &.is-active {
              overflow : inherit;
            }

            .sub-close-icon {
              width    : 30px;
              height   : 30px;
              display  : inline-block;
              position : absolute;
              left     : 8px;
              top      : -8px;
              z-index  : 6;

              .subpage-close-button {
                width    : 16px;
                height   : 16px;

                position : absolute;
                top      : calc(50% - 7px);
                left     : calc(50% - 7px);
              }

              &:hover, &:active {
                .subpage-close-button {
                  .st0, .st1 {
                    stroke : #f7a800;
                  }
                }
              }
            }

            .sub-container {
              display       : inline-block;
              margin        : 7px 0 10px 30px;
              border-top    : 1px solid $main-menu-light-grey;
              border-bottom : 1px solid $main-menu-light-grey;
              border-right  : 1px solid $main-menu-light-grey;
              padding       : 5px 5px 5px 0;

              min-height    : 250px;

              .text-div {
                display       : inline-block;
                margin-top    : 10px;
                margin-bottom : 10px;
                padding       : 0;
                width         : 43%;
                @include font-size(1.4);
                a {
                  color              : $text-grey;

                  -webkit-transition : all 0.25s;
                  -moz-transition    : all 0.25s;
                  -ms-transition     : all 0.25s;
                  -o-transition      : all 0.25s;
                  transition         : all 0.25s;

                  &:hover, &:focus {
                    text-decoration : none;
                    span {
                      text-decoration : underline;
                    }
                  }

                  .social-icon-text {
                    display        : inline-block;
                    margin-left    : 5px;
                    margin-top     : -15px;
                    vertical-align : middle;
                    width          : 87%;
                    line-height    : 1.2;
                  }
                }

                .social-icon-button {
                  width : 100%;
                }

                .content-link {
                  text-decoration : underline;
                  &:hover, &:active {
                    color : #f7a800;
                  }
                }

                p {
                  line-height : 1.5;
                  color       : $text-grey;
                }
              }

              .imgShow-div {
                margin  : auto;
                height  : auto;
                padding : 0;

                ul {
                  list-style : disc;
                  li {
                    @include font-size(1.2);
                    font-family   : $font_site-default;
                    color         : $text-grey;
                    margin-bottom : 5px;
                    width         : 190px;
                    .client-name {
                      font-family : $font-site-bold;
                    }
                  }
                }
                .sub-img-container {
                  height : 100%;
                  div {
                    cursor : pointer;
                  }
                  img {
                    float : right;
                  }
                }
                .slide-container {
                  cursor : pointer;
                  width  : 100%;
                  height : auto;
                }

              }

            }

          }
        }

      }
    }

  }

}

@media screen and (min-width : 640px) and (max-width : 1039px) {
  .entry-content {
    margin-top : 30px;
    .main-menu {
      margin : 70px auto 0 auto;
      ul {
        list-style : none;
        padding    : 0;
        > li {
          line-height : 0.9;

          > a {
            display        : inline-block;
            margin-left    : 30px;
            @include font-size(6.7);
            font-family    : $font-site-bold;
            color          : $main-menu-dark-grey;
            text-transform : uppercase;
            vertical-align : middle;
            overflow       : hidden;
            .grey {
              color : $main-menu-light-grey;
            }
            &.orange {
              color : #f7a800 !important;
              .grey {
                color : #ffe0ae !important;
              }
            }

            &:hover, &:focus {
              text-decoration : none;
              .grey {
                //color : #ffe0ae;
              }
            }

          }
          #engaging, #integrating, #spending {
            color : $main-menu-light-grey;
            &.orange {
              color : #f7a800 !important;
              .grey {
                color : #f7a800 !important;
              }
            }
            &:hover, &:focus {
              text-decoration : none;
            }
          }
          .page-content {
            position : relative;
            overflow : hidden;
            height   : 0;
            width    : 96%;

            &.is-active {
              overflow : inherit;
            }

            .sub-close-icon {
              width    : 30px;
              height   : 30px;
              display  : inline-block;
              position : absolute;
              left     : 8px;
              top      : -8px;
              z-index  : 6;

              .subpage-close-button {
                width    : 16px;
                height   : 16px;

                position : absolute;
                top      : calc(50% - 7px);
                left     : calc(50% - 7px);
              }
              &:hover, &:active {

                .subpage-close-button {
                  .st0, .st1 {
                    stroke : #f7a800;
                  }
                }
              }
            }

            .sub-container {
              display       : inline-block;
              margin        : 7px 0 10px 30px;

              border-top    : 1px solid $main-menu-light-grey;
              border-bottom : 1px solid $main-menu-light-grey;
              border-right  : 1px solid $main-menu-light-grey;

              padding       : 5px 5px 5px 0;

              min-height    : 250px;
              .text-div {
                display       : inline-block;
                margin-top    : 10px;
                margin-bottom : 10px;
                padding       : 0;
                @include font-size(1.4);
                line-height   : 1.5;
                color         : $text-grey;
                a {
                  color : $text-grey;

                  &:hover, &:focus {
                    text-decoration : none;

                    span {
                      text-decoration : underline;
                    }

                  }

                  .social-icon-text {
                    display        : inline-block;
                    margin-left    : 40px;
                    margin-top     : -50px;
                    vertical-align : middle;
                    line-height    : 1.2;
                  }
                }

                .social-icon-button {
                  width : 100%;
                }

                .content-link {
                  text-decoration : underline;
                  &:hover, &:active {
                    color : #f7a800;
                  }
                }
                p {
                  line-height : 1.5;
                  color       : $text-grey;
                }
              }
              .imgShow-div {
                margin  : auto;
                height  : auto;
                padding : 0;
                .sub-img-container {
                  height : 100%;
                  div {
                    cursor : pointer;
                  }
                  img {
                    float : right;
                  }
                }
                .slide-container {
                  cursor : pointer;
                  width  : 100%;
                  height : auto;
                }
              }

            }

          }
        }

      }
    }

  }

}

@media screen and (min-width : 640px) and (max-width : 700px) {
  .entry-content {
    margin-top : 30px;
    .main-menu {
      margin : 70px auto 0 auto;
      ul {
        list-style : none;
        padding    : 0;
        > li {
          line-height : 0.9;

          > a {
            display        : inline-block;
            margin-left    : 30px;
            @include font-size(6.7);
            font-family    : $font-site-bold;
            color          : $main-menu-dark-grey;
            text-transform : uppercase;
            vertical-align : middle;
            overflow       : hidden;
            .grey {
              color : $main-menu-light-grey;
            }

            .break-for-tablet {
              display: block;
            }
            &.orange {
              color : #f7a800 !important;
              .grey {
                color : #ffe0ae !important;
              }
            }

            &:hover, &:focus {
              text-decoration : none;
              .grey {
                //color : #ffe0ae;
              }
            }

          }
          #engaging, #integrating, #spending {
            color : $main-menu-light-grey;
            &.orange {
              color : #f7a800 !important;
              .grey {
                color : #f7a800 !important;
              }
            }
            &:hover, &:focus {
              text-decoration : none;
            }
          }
          .page-content {
            position : relative;
            overflow : hidden;
            height   : 0;
            width    : 96%;

            &.is-active {
              overflow : inherit;
            }

            .sub-close-icon {
              width    : 30px;
              height   : 30px;
              display  : inline-block;
              position : absolute;
              left     : 8px;
              top      : -8px;
              z-index  : 6;

              .subpage-close-button {
                width    : 16px;
                height   : 16px;

                position : absolute;
                top      : calc(50% - 7px);
                left     : calc(50% - 7px);
              }
              &:hover, &:active {

                .subpage-close-button {
                  .st0, .st1 {
                    stroke : #f7a800;
                  }
                }
              }
            }

            .sub-container {
              display       : inline-block;
              margin        : 7px 0 10px 30px;

              border-top    : 1px solid $main-menu-light-grey;
              border-bottom : 1px solid $main-menu-light-grey;
              border-right  : 1px solid $main-menu-light-grey;

              padding       : 5px 5px 5px 0;

              min-height    : 250px;
              .text-div {
                display       : inline-block;
                margin-top    : 10px;
                margin-bottom : 10px;
                padding       : 0;
                @include font-size(1.4);
                line-height   : 1.5;
                color         : $text-grey;
                a {
                  color : $text-grey;

                  &:hover, &:focus {
                    text-decoration : none;

                    span {
                      text-decoration : underline;
                    }

                  }

                  .social-icon-text {
                    display        : inline-block;
                    margin-left    : 40px;
                    margin-top     : -50px;
                    vertical-align : middle;
                    line-height    : 1.2;
                  }
                }

                .social-icon-button {
                  width : 100%;
                }

                .content-link {
                  text-decoration : underline;
                  &:hover, &:active {
                    color : #f7a800;
                  }
                }
                p {
                  line-height : 1.5;
                  color       : $text-grey;
                }
              }
              .imgShow-div {
                margin  : auto;
                height  : auto;
                padding : 0;
                .sub-img-container {
                  height : 100%;
                  div {
                    cursor : pointer;
                  }
                  img {
                    float : right;
                  }
                }
                .slide-container {
                  cursor : pointer;
                  width  : 100%;
                  height : auto;
                }
              }

            }

          }
        }

      }
    }

  }
}

////////////////~640px////////////////////////
@media screen and (max-width : 639px) {
  .entry-content {
    margin-top : 30px;
    .main-menu {
      margin : 70px auto 0 auto;
      ul {
        list-style : none;
        padding    : 0;
        > li {
          line-height : 0.9;

          > a {
            display        : inline-block;
            margin-left    : 30px;
            @include font-size(6.7);
            font-family    : $font-site-bold;
            color          : $main-menu-dark-grey;
            text-transform : uppercase;
            vertical-align : middle;
            overflow       : hidden;
            .grey {
              color : $main-menu-light-grey;
            }
            &.orange {
              color : #f7a800 !important;
              .grey {
                color : #ffe0ae !important;
              }
            }

            &:hover, &:focus {
              text-decoration : none;
              .grey {
                //color : #ffe0ae;
              }
            }

          }
          #engaging, #integrating, #spending {
            color : $main-menu-light-grey;
            &.orange {
              color : #f7a800 !important;
              .grey {
                color : #f7a800 !important;
              }
            }
            &:hover, &:focus {
              text-decoration : none;
            }
          }
          .page-content {
            overflow   : hidden;
            height     : 0;

            background : #ffffff;
            position   : absolute;
            z-index    : 100;

            &.is-active {
              overflow : inherit;
            }

            .sub-close-icon {
              width    : 30px;
              height   : 30px;
              display  : inline-block;
              position : absolute;
              left     : 5px;
              top      : 10px;
              z-index  : 6;

              .subpage-close-button {
                width    : 16px;
                height   : 16px;

                position : absolute;
                top      : calc(50% - 7px);
                left     : calc(50% - 7px);
              }
              &:hover, &:active {
                .subpage-close-button {
                  .st0, .st1 {
                    stroke : #f7a800;
                  }
                }
              }
            }

            .sub-container {
              display       : inline-block;
              margin-top    : 7px;
              margin-bottom : 10px;
              border-top    : 0;
              border-bottom : 0;
              min-height    : 250px;
              width         : 100%;
              .text-div {
                display     : block;
                margin      : 10px auto;
                padding     : 0;

                @include font-size(1.4);
                line-height : 1.5;
                color       : $text-grey;

                float       : none !important;

                .mobile-title {
                  margin-top    : 20px;
                  margin-bottom : 25px;
                  @include font-size(4.1);
                  color         : #f7a800;
                }

                a {
                  color              : $text-grey;

                  -webkit-transition : all 0.25s;
                  -moz-transition    : all 0.25s;
                  -ms-transition     : all 0.25s;
                  -o-transition      : all 0.25s;
                  transition         : all 0.25s;

                  &:hover, &:focus {
                    text-decoration : none;

                    span {
                      text-decoration : underline;
                    }
                  }
                }

                .social-icon-button {
                  width : 100%;
                  svg {
                    float : left;
                  }

                  .social-icon-text {
                    float          : left;

                    display        : inline-block;
                    margin-left    : 10px;
                    margin-top     : 7px;
                    vertical-align : middle;
                    width          : 85%;
                  }
                }

                .content-link {
                  text-decoration : underline;
                  &:hover, &:active {
                    color : #f7a800;
                  }
                }
                p {
                  line-height : 1.5;
                  color       : $text-grey;
                }
              }
              .imgShow-div {
                display    : block;

                margin     : auto;
                height     : auto;
                padding    : 0;
                min-height : 250px;

                float      : none !important;

                .sub-img-container {
                  height : 100%;
                  div {
                    cursor : pointer;
                  }
                  img {
                    float : right;
                  }
                }
                .slide-container {
                  cursor : pointer;
                  width  : 100%;
                  height : auto;
                }
              }

            }

          }
        }

      }
    }

  }

  .mobile-content {
    position     : absolute;
    top          : 0;

    z-index      : 10;

    margin-top   : 73px;
    margin-left  : 15px;
    margin-right : 15px;
    overflow-x   : hidden;

    width        : 90%;
    .mobile-main-menu {
      height       : 480px;
      position     : relative;
      overflow-y   : scroll;
      overflow-x   : hidden;
      margin-right : -15px;
      ul {
        list-style : none;
        padding    : 0;
        margin     : 75px 0 0 0;
        height     : 655px;
        li {
          line-height : 0.97;
          opacity     : 0;
          a {
            @include font-size(2.6);
            font-family    : $font-site-bold;
            color          : $main-menu-dark-grey;
            text-transform : uppercase;
            .grey {
              color : $main-menu-light-grey;
            }
            &.orange {
              color : #f7a800;
              .grey {
                color : #ffe0ae;
              }
            }

            &:hover, &:focus {
              text-decoration : none;
              color           : #f7a800;
              .grey {
                color : #ffe0ae;
              }
            }

          }
          //end of a
          #engaging, #integrating, #spending {
            color : $main-menu-light-grey;
            &.orange {
              color : #f7a800;
              .grey {
                color : #f7a800;
              }
            }
            &:hover, &:focus {
              text-decoration : none;
              color           : #f7a800;
            }
          }

        }
        //end of li
      }
      //end of ul
    }
    //end of .mobile-main-menu

    .mobile-main-indicator {
      width    : 10px;
      right    : 8%;
      top      : 200px;
      position : fixed;
      ol.mobile-indicator-ol {
        list-style : none;
        text-align : center;
        margin     : 0;
        padding    : 0;
        li {
          border-radius    : 10px;
          border           : 1px solid $text-grey;
          width            : 7px;
          height           : 7px;
          margin-bottom    : 10px;
          background-color : #fff;
          &.active-indicator {
            background-color : $main-menu-light-grey;
          }
        }

      }

    }
    //end of .mobile-main-indicator

  }
  //end of .mobile-content

}