@each $font-face in
    "TradeGot",
    "TradeGotObl",
    "TradeGotBolTwo",
    "TradeGotBolTwoObl" {
    @font-face {
        font-family: $font-face;
        font-style: normal; font-weight: normal;
        src: url('../fonts/' + '#{$font-face}.eot');
        src: url('../fonts/' + '#{$font-face}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/' + '#{$font-face}.woff') format('woff'),
        url('../fonts/' + '#{$font-face}.ttf')  format('truetype'),
        url('../fonts/' + '#{$font-face}.svg##{$font-face}')  format('svg');
    }
}