.list {
    @include font-size(1.4);
    margin: 15px 0 10px;
    overflow: hidden;
    .col-1 {
        padding-left: 0;
    }
    ul {
        list-style-type : none;
        padding: 0;

        li {
            border-top: 1px solid #b9b8ba;
            padding: 3.5px 0;
            &:last-child {
                border-bottom: 1px solid #b9b8ba;
            }
        }
    }
}