.modal.and.carousel {
    position : fixed; // Needed because the carousel overrides the position property
    z-index  : 2000;
    .modal-body {
        padding : 0;
    }
}

.modal-backdrop-gallery {
    z-index : 1060;
}

.modal-vertical-centered {
    transform         : translate(0, 15%) !important;
    -ms-transform     : translate(0, 15%) !important; /* IE 9 */
    -webkit-transform : translate(0, 15%) !important; /* Safari and Chrome */
}

/* .modal-fullscreen */

.modal-fullscreen {
    background : #ffffff;
    margin-top : 100px;

    .modal-header {
        border-bottom : none;
    }

    .modal-body {
        .entry-content {
            margin-top : 0;
        }
    }
}

.modal-fullscreen .modal-content {
    background         : transparent;
    border             : 0;
    -webkit-box-shadow : none;
    box-shadow         : none;
}

.modal-backdrop.modal-backdrop-fullscreen {
    background : #ffffff;
    margin-top : 100px;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity : .99;
    filter  : alpha(opacity=99);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
    margin       : 0;
    margin-right : auto;
    margin-left  : auto;
    width        : 100%;
}

@media (min-width : 768px) {
    .modal-fullscreen .modal-dialog {
        width : 750px;
    }
}

@media (min-width : 992px) {
    .modal-fullscreen .modal-dialog {
        width : 970px;
    }
}

@media (min-width : 1200px) {
    .modal-fullscreen .modal-dialog {
        width : 1170px;
    }
}

.modal-body {
    overflow : hidden;
}

///////mobile modal page//////////
@media screen and (max-width : 640px) {
    .mobile-modal {
        margin-top       : 50px;
        margin-left      : 15px;
        padding-right    : 15px;
        overflow-x       : hidden;
        overflow-y       : scroll;
        background-color : #fff;
        z-index          : 2;

        .mobile-close {
            width      : 25px;
            height     : 25px;
            position   : absolute;
            right      : 25px;
            top        : 17px;
            background : url(../../dist/img/mobile-close.svg) no-repeat;
            display    : inline-block;
        }
        //end of .mobile-close

        .mobile-page-content {
            margin-top: 60px;
            .mobile-title {
                margin-top    : 50px;
                margin-bottom : 25px;
                @include font-size(4.1);
                color         : #f7a800;
            }

            .sub-content {
                @include font-size(1.6);
                margin-bottom: 43px;
            }

            //end of .mobile-title
            .mobile-text-div {
                @include font-size(1.4);
                color : #77777a;

            }
            //end of .mobile-text-div

            .mobile-img-show {
                margin-top : 30px;
                .mobile-pop {
                    cursor : pointer;
                }
                .carousel-indicators {
                    bottom  : -70px;
                    z-index : 1;
                    li {
                        background-color : #b9b8ba;
                        border           : solid 1px #77777a;
                        margin           : 0;
                        &.active {
                            background-color : #ffffff;
                            border           : solid 1px #77777a;
                            width            : 10px;
                            height           : 10px;
                        }
                    }
                }
                //end of .carousel-indicators
                img {
                    margin : 0 auto;
                }

            }
            //end of mobile-img-show
        }
        //end of .mobile-page-content

    }
    //end of .mobile-modal

    .mobile-pop-modal {
        margin-top       : 70px;
        overflow-x       : hidden;
        overflow-y       : scroll;
        background-color : #333;
        opacity          : 0.95;
        z-index          : 3;

        .mobile-pop-close {
            width    : 25px;
            height   : 25px;
            position : absolute;
            right    : 20px;
            top      : 15px;
            z-index  : 3;
        }

        .mobile-pop-slide {
            margin-top : 80px;
            height     : 90%;
            min-height : 600px;
            .carousel-inner {
                height : 100%;
                .mobile-pop-img {
                    height : 100%;
                    .carousel-caption {
                        top : 300px;
                        @include font-size(1.4);
                    }
                }
            }
            img {
                margin : 0 auto;
            }

        }
        //end of .mobile-pop-slide

    }
    //end of .mobile-pop-modal

    .modal-backdrop.modal-backdrop-fullscreen.in{
        z-index: -1 !important;
    }

    .modal-backdrop.modal-backdrop-mobile {
        background : #ffffff;
        margin-top : 100px;
    }

    .modal-backdrop.modal-backdrop-mobile.in {
        opacity : .99;
        filter  : alpha(opacity=99);
        z-index: 1 !important;
    }

    .modal.mobile-pop-modal {
        z-index: 2000;
    }

}
