@media print {
    body {
        a[href]::after {
            content: none !important;
        }


        .header {
            .site-logo {
                #desktop-logo {
                    display: block !important;
                }

                #mobile-logo {
                    display: none !important;
                }
            }
        }

        .div-mobile,
        .mobile-content,
        .extension-header,
        .div-iconlist,
        .page-content .sub-close-icon,
        .text-div .sub-link,
        .imgShow-div
        {
            display: none !important;
        }

        .imgShow-div {
            float: left !important;
        }

        .div-mobile, .mobile-content, .main-menu {
            ul, ol {
                list-style: none !important;
            }
        }


    }

}