$font_site-default: "TradeGot", "Arial", "sans-serif";
$font-site-obl : "TradeGotObl", "Arial", "sans-serif";
$font-site-bold : "TradeGotBolTwo", "Arial", "sans-serif";
$font-site-bold-obl : "TradeGotBolTwoObl", "Arial", "sans-serif";

$main-menu-light-grey: #949494;
$text-grey: #767676;
