<!-- brading subpage popup window slideshow -->
<div class="modal fade and carousel slide popup" id="lightbox-banding-page" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Controls -->
    <a class="left carousel-control" href="#lightbox-banding-page" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#lightbox-banding-page" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
    <!-- Close -->
    <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close" title="lightbox close button"></a>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Indicators -->
                <ol class="carousel-indicators branding-page" style="height:30px;">
                    <li data-target="#lightbox-banding-page" data-slide-to="0" class="active"></li>
                    <li data-target="#lightbox-banding-page" data-slide-to="1"></li>
                    <li data-target="#lightbox-banding-page" data-slide-to="2"></li>
                    <li data-target="#lightbox-banding-page" data-slide-to="3"></li>
                    <li data-target="#lightbox-banding-page" data-slide-to="4"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner branding-page" role="listbox">
                    <div class="item active pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/Libro_2012_Website_1407x875.jpg" alt="Libro Web Site / Logo" width="1407" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                It takes a great client to be a great agency. Our

                                partnership with Libro since 1999 has produced re-

                                imagined branding, Cassie Award-Winning

                                advertising, alignment from the inside out and now the

                                transformation to a social enterprise.
                            </p>
                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/Libro_2013_BeYou_Ads_1407x875.jpg" alt="Libro Be You Ads" width="1407" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                It takes a great client to be a great agency. Our

                                partnership with Libro since 1999 has produced re-

                                imagined branding, Cassie Award-Winning

                                advertising, alignment from the inside out and now the

                                transformation to a social enterprise.
                            </p>
                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/Libro_2015_TV_1407x875.jpg" alt="Libro TV StoryBoard" width="1407" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                It takes a great client to be a great agency. Our

                                partnership with Libro since 1999 has produced re-

                                imagined branding, Cassie Award-Winning

                                advertising, alignment from the inside out and now the

                                transformation to a social enterprise.
                            </p>
                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/RCB_2010_DE_IronSpke_Cans_1407x875.jpg" alt="Dead Elephant & Iron Spike package" width="1407" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                How do you take a tired, poorly-branded craft beer

                                and turn it into a 200% sales growth story? By

                                producing package design that stops traffic in

                                crowded retail environments and inspires trial.
                            </p>
                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/RCB_2010_DE_Poster_1407x875.jpg" alt="Dead Elephant poster" width="1407" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                How do you take a tired, poorly-branded craft beer

                                and turn it into a 200% sales growth story? By

                                producing package design that stops traffic in

                                crowded retail environments and inspires trial.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>