<!-- engaging subpage popup window slideshow -->
<div class="modal fade and carousel slide popup" id="lightbox-engaging-page" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Controls -->
    <a class="left carousel-control" href="#lightbox-engaging-page" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#lightbox-engaging-page" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
    <!-- Close -->
    <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close" title="lightbox close button"></a>

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <!-- Indicators -->
                <ol class="carousel-indicators engaging-page" style="height:30px;">
                    <li data-target="#lightbox-engaging-page" data-slide-to="0" class="active"></li>
                    <li data-target="#lightbox-engaging-page" data-slide-to="1"></li>
                    <li data-target="#lightbox-engaging-page" data-slide-to="2"></li>
                    <li data-target="#lightbox-engaging-page" data-slide-to="3"></li>
                    <li data-target="#lightbox-engaging-page" data-slide-to="4"></li>
                    <li data-target="#lightbox-engaging-page" data-slide-to="5"></li>
                    <li data-target="#lightbox-engaging-page" data-slide-to="6"></li>
                    <li data-target="#lightbox-engaging-page" data-slide-to="7"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner engaging-page" role="listbox">
                    <div class="item active pop-img-container">
                        <img class="lazy" src="/templates/dist/img/gallery/NCU_PS_WebsiteNing_1407x875.png" alt="Purse Strings Website" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                We helped Northern Credit Union develop a unique

                                brand that was tailored for life in 'Northern' Ontario

                                communities. We're equally proud of the online

                                community we created called Northern Purse Strings.

                                This financial literacy web 2.0 community attracted

                                about 1,000 participants in trial and demonstrated the

                                power of genuine digital engagement.
                            </p>

                        </div>

                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/NCU_PS_Postcard_1407x875.png" alt="Purse Strings Round dm piece" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                We helped Northern Credit Union develop a unique

                                brand that was tailored for life in 'Northern' Ontario

                                communities. We're equally proud of the online

                                community we created called Northern Purse Strings.

                                This financial literacy web 2.0 community attracted

                                about 1,000 participants in trial and demonstrated the

                                power of genuine digital engagement.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/NCU-PurseStrings-Poster_1407x875.png" alt="Purse Strings Poster" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                We helped Northern Credit Union develop a unique

                                brand that was tailored for life in 'Northern' Ontario

                                communities. We're equally proud of the online

                                community we created called Northern Purse Strings.

                                This financial literacy web 2.0 community attracted

                                about 1,000 participants in trial and demonstrated the

                                power of genuine digital engagement.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/CWL_2014spring_Logo_1407x875" alt="Commonwell Logo" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Tenzing helped three mutual insurance companies

                                create a brand that would unite them through a

                                merger process. We started by engaging the

                                employees and management of all three

                                organizations in Tenzing Orienteering sessions. As a

                                result, the new brand I.D. and story aligned and

                                inspired the new organization internally long before

                                they went to market (where they have been equally

                                successful).
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/CWL_2014spring_Website_1407x875.png" alt="Commonwell Website" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Tenzing helped three mutual insurance companies

                                create a brand that would unite them through a

                                merger process. We started by engaging the

                                employees and management of all three

                                organizations in Tenzing Orienteering sessions. As a

                                result, the new brand I.D. and story aligned and

                                inspired the new organization internally long before

                                they went to market (where they have been equally

                                successful).
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/CWL_2015spring_Ad_1407x875.png"  alt="Commonwell Ostrich" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Tenzing helped three mutual insurance companies

                                create a brand that would unite them through a

                                merger process. We started by engaging the

                                employees and management of all three

                                organizations in Tenzing Orienteering sessions. As a

                                result, the new brand I.D. and story aligned and

                                inspired the new organization internally long before

                                they went to market (where they have been equally

                                successful).
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <div class="videoWrapper">
                            <img class="video-loading-icon" src="/templates/dist/img/loading.gif" alt="Loading" width="128" height="128">
                            <a href="javascript:void(0)" class="video-play-button">
                                <img class="lazy" data-original="/templates/dist/img/video-play.svg" alt="Video play button" width="70" height="70"/>
                            </a>
                            <iframe class="video" data-src="https://player.vimeo.com/video/142881734?api=1" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="carousel-caption">
                            <p>
                                Tenzing helped three mutual insurance companies

                                create a brand that would unite them through a

                                merger process. We started by engaging the

                                employees and management of all three

                                organizations in Tenzing Orienteering sessions. As a

                                result, the new brand I.D. and story aligned and

                                inspired the new organization internally long before

                                they went to market (where they have been equally

                                successful).
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/CWL_OnlineAd_1407x875.png"  alt="Commonwell Online Ad" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Tenzing helped three mutual insurance companies

                                create a brand that would unite them through a

                                merger process. We started by engaging the

                                employees and management of all three

                                organizations in Tenzing Orienteering sessions. As a

                                result, the new brand I.D. and story aligned and

                                inspired the new organization internally long before

                                they went to market (where they have been equally

                                successful).
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>