<!-- human subpage popup window slideshow -->
<div class="modal fade and carousel slide popup" id="lightbox-humanpage" tabindex="-1" role="dialog"
     aria-hidden="true">
    <!-- Controls -->
    <a class="left carousel-control" href="#lightbox-humanpage" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#lightbox-humanpage" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
    <!-- Close -->
    <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close"></a>

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <!-- Indicators -->
                <ol class="carousel-indicators humanpage" style="height:30px;">
                    <li data-target="#lightbox-humanpage" data-slide-to="0" class="active"></li>
                    <li data-target="#lightbox-humanpage" data-slide-to="1"></li>
                    <li data-target="#lightbox-humanpage" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner humanpage" role="listbox">
                    <div class="item active">
                        <img src="/templates/dist/img/gallery/CMHA_FB_1407x875.jpg" />

                        <div class="carousel-caption">
                            <p>
                                The Canadian Mental Health Association wanted to

                                re-invigorate its base as Tenzing rebuilt the CMHA

                                brand and carved out a unique space in Canadian

                                healthcare. A simple Facebook page and online

                                mental health quiz engaged the CMHA Human

                                Channel of stakeholders by driving engagement from

                                a total of 300 friends to over 10,000 in just a few

                                weeks.
                            </p>
                        </div>

                    </div>
                    <div class="item">
                        <img src="/templates/dist/img/gallery/SJH_IOH_Poster_1407x875.jpg" />

                        <div class="carousel-caption">
                            <p>
                                Research tells us that one of the primary drivers

                                behind mental illness stigmatization is a group

                                comprised of healthcare professionals and staff.

                                When launching its new $2 Billion mental health and

                                addiction facility in Hamilton, St Joe's decided to

                                tackle internal stigmatization through the In-Our-

                                House program. By inspiring over 3,000 employees to

                                register in the fight against stigma, St. Joe's created

                                its own Human Channel.
                            </p>

                        </div>
                    </div>
                    <div class="item">
                        <div class="pop-img-container">
                            <div class="videoWrapper">
                                <iframe src="https://player.vimeo.com/video/141903598" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                            <div class="carousel-caption">
                                <p>
                                    St Thomas, Ontario was close to being a

                                    manufacturing ghost town. Tenzing helped the

                                    municipality create a new industrial revolution in

                                    response. In just a few weeks, a campaign video

                                    inspired 10,000 YouTube 'likes' based on a

                                    community launch. A U.S. city (10 x the size of St.

                                    Thomas) launched a similar video and inspired fewer

                                    than 1,000 likes in six months. The St. Thomas

                                    Human Channel™ was the difference.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>