<!-- integrating subpage popup window slideshow -->
<div class="modal fade and carousel slide popup" id="lightbox-integrating-page" tabindex="-1" role="dialog" aria-hidden="true" data-interval="false">
    <!-- Controls -->
    <a class="left carousel-control" href="#lightbox-integrating-page" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#lightbox-integrating-page" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
    <!-- Close -->
    <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close" title="lightbox close button"></a>

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <!-- Indicators -->
                <ol class="carousel-indicators integrating-page" style="height:30px;">
                    <li data-target="#lightbox-integrating-page" data-slide-to="0" class="active"></li>
                    <li data-target="#lightbox-integrating-page" data-slide-to="1"></li>
                    <li data-target="#lightbox-integrating-page" data-slide-to="2"></li>
                    <li data-target="#lightbox-integrating-page" data-slide-to="3"></li>
                    <li data-target="#lightbox-integrating-page" data-slide-to="4"></li>
                    <li data-target="#lightbox-integrating-page" data-slide-to="5"></li>
                    <li data-target="#lightbox-integrating-page" data-slide-to="6"></li>
                    <li data-target="#lightbox-integrating-page" data-slide-to="7"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner integrating-page" role="listbox">
                    <div class="item active pop-img-container">
                        <img class="lazy" src="/templates/dist/img/gallery/SJH_W5_Brochure_1407x875.png" alt="ST JOES west 5th launch" width="1407" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                St. Joseph's Healthcare Hamilton wanted to change

                                the face of mental health and addiction care in

                                Canada while simultaneously re-positioning and

                                branding the entire hospital. Tenzing created St. Joe's

                                Brand Manifesto to unite all communications (local

                                and national PR, broadcast advertising, internal

                                alignment and training, print and launch events). One

                                voice, one brand platform, one team, success for all.
                            </p>

                        </div>

                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/SJH_W5_Ad_1407x875.png" alt="ST JOES manifesto" width="1407" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                St. Joseph's Healthcare Hamilton wanted to change

                                the face of mental health and addiction care in

                                Canada while simultaneously re-positioning and

                                branding the entire hospital. Tenzing created St. Joe's

                                Brand Manifesto to unite all communications (local

                                and national PR, broadcast advertising, internal

                                alignment and training, print and launch events). One

                                voice, one brand platform, one team, success for all.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/SJH_W5_Web_1407x875.png" alt="ST JOES website" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                St. Joseph's Healthcare Hamilton wanted to change

                                the face of mental health and addiction care in

                                Canada while simultaneously re-positioning and

                                branding the entire hospital. Tenzing created St. Joe's

                                Brand Manifesto to unite all communications (local

                                and national PR, broadcast advertising, internal

                                alignment and training, print and launch events). One

                                voice, one brand platform, one team, success for all.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <div class="videoWrapper">
                            <a href="javascript:void(0)" class="video-play-button">
                                <img class="lazy" data-original="/templates/dist/img/video-play.svg" alt="Video play button" width="70" height="70"/>
                            </a>
                            <iframe class="video" data-src="https://player.vimeo.com/video/87009438?api=1" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="carousel-caption">
                            <p>
                                St. Joseph's Healthcare Hamilton wanted to change

                                the face of mental health and addiction care in

                                Canada while simultaneously re-positioning and

                                branding the entire hospital. Tenzing created St. Joe's

                                Brand Manifesto to unite all communications (local

                                and national PR, broadcast advertising, internal

                                alignment and training, print and launch events). One

                                voice, one brand platform, one team, success for all.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/BRI_Banner_1407x875.png" alt="Brighton banners"/>

                        <div class="carousel-caption">
                            <p>
                                The Municipality of Brighton Ontario hired Tenzing to

                                create an economic development initiative for the

                                community. Tenzing's team of three people - project

                                manager, designer and writer - engaged the entire

                                local business community, designed the municipal

                                brand, invented a new destination attraction and

                                mapped out Brighton's tourism promotions all within a

                                single brand context.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/BRI_Centre_1407x875.png" alt="Brighton trade centre" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                The Municipality of Brighton Ontario hired Tenzing to

                                create an economic development initiative for the

                                community. Tenzing's team of three people - project

                                manager, designer and writer - engaged the entire

                                local business community, designed the municipal

                                brand, invented a new destination attraction and

                                mapped out Brighton's tourism promotions all within a

                                single brand context.
                            </p>
                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/BRI_Vehicle_1407x875.jpg" alt="Brighton trucks" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                The Municipality of Brighton Ontario hired Tenzing to

                                create an economic development initiative for the

                                community. Tenzing's team of three people - project

                                manager, designer and writer - engaged the entire

                                local business community, designed the municipal

                                brand, invented a new destination attraction and

                                mapped out Brighton's tourism promotions all within a

                                single brand context.
                            </p>
                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/BRI_Catalogue_1407x875.png" alt="Brighton catalogue" width="1407" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                The Municipality of Brighton Ontario hired Tenzing to

                                create an economic development initiative for the

                                community. Tenzing's team of three people - project

                                manager, designer and writer - engaged the entire

                                local business community, designed the municipal

                                brand, invented a new destination attraction and

                                mapped out Brighton's tourism promotions all within a

                                single brand context.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>