<!-- orienteering subpage popup window slideshow -->
<div class="modal fade and carousel slide popup" id="lightbox-orienteering-page" tabindex="-1" role="dialog" aria-hidden="true" data-interval="false">
    <!-- Controls -->
    <a class="left carousel-control" href="#lightbox-orienteering-page" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#lightbox-orienteering-page" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
    <!-- Close -->
    <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close" title="lightbox close button"></a>

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <!-- Indicators -->
                <ol class="carousel-indicators orienteering-page" style="height:30px;">
                    <li data-target="#lightbox-orienteering-page" data-slide-to="0" class="active"></li>
                    <li data-target="#lightbox-orienteering-page" data-slide-to="1"></li>
                    <li data-target="#lightbox-orienteering-page" data-slide-to="2"></li>
                    <li data-target="#lightbox-orienteering-page" data-slide-to="3"></li>
                    <li data-target="#lightbox-orienteering-page" data-slide-to="4"></li>
                    <li data-target="#lightbox-orienteering-page" data-slide-to="5"></li>
                    <li data-target="#lightbox-orienteering-page" data-slide-to="6"></li>
                    <li data-target="#lightbox-orienteering-page" data-slide-to="7"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner orienteering-page" role="listbox">
                    <div class="item active pop-img-container">
                        <img class="lazy" src="/templates/dist/img/gallery/Bruce_Website_1407x875.png" alt="Bruce Website" width="1407" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                Tenzing was hired to help Ontario's Bruce County

                                position for sustainable entrepreneurial growth. We

                                could have done focus groups and produced an ad

                                campaign. Instead, we engaged the existing business

                                communities of Bruce in a spirited conversation, and created eHarmony for prospective

                                business owners as a result.
                            </p>
                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/Bruce_2015_MasterToolKit_1407x875.png" alt="Bruce kit/box open" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Tenzing was hired to help Ontario's Bruce County

                                position for sustainable entrepreneurial growth. We

                                could have done focus groups and produced an ad

                                campaign. Instead, we engaged the existing business

                                communities of Bruce in a spirited conversation, and created eHarmony for prospective

                                business owners as a result.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/Bruce_2015_Ktown_BlBrd_1407x875.png" alt="Bruce hammer throw bbd" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Tenzing was hired to help Ontario's Bruce County

                                position for sustainable entrepreneurial growth. We

                                could have done focus groups and produced an ad

                                campaign. Instead, we engaged the existing business

                                communities of Bruce in a spirited conversation, and created eHarmony for prospective

                                business owners as a result.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/Bruce_Wiarton_Ad_1407x875.png" alt="Bruce Wiarton Ad" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Tenzing was hired to help Ontario's Bruce County

                                position for sustainable entrepreneurial growth. We

                                could have done focus groups and produced an ad

                                campaign. Instead, we engaged the existing business

                                communities of Bruce in a spirited conversation, and created eHarmony for prospective

                                business owners as a result.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/Bruce_Wiarton_PopUp_1407x875.png" alt="Bruce Wiarton Pop Up" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Tenzing was hired to help Ontario's Bruce County

                                position for sustainable entrepreneurial growth. We

                                could have done focus groups and produced an ad

                                campaign. Instead, we engaged the existing business

                                communities of Bruce in a spirited conversation, and created eHarmony for prospective

                                business owners as a result.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/HHS_2011_Brochure_Cover_1407x875.png" alt="HHS peeps" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                The Hamilton Health Sciences executive team was

                                proud of their new strategic plan and hired Tenzing to

                                brand it for 10,000 employees. Our Orienteering

                                process revealed a very unreceptive audience - the

                                managers, professionals and staff at the hospital had

                                not been consulted. We helped re-create the strategy

                                based on hospital-wide input and it became a huge

                                success.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/HHS_2011_Brochure_Spread_1407x875.png" alt="HHS peeps bro" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                The Hamilton Health Sciences executive team was

                                proud of their new strategic plan and hired Tenzing to

                                brand it for 10,000 employees. Our Orienteering

                                process revealed a very unreceptive audience - the

                                managers, professionals and staff at the hospital had

                                not been consulted. We helped re-create the strategy

                                based on hospital-wide input and it became a huge

                                success.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/HHS_2011_Brochure_Spread_2_1407x875.png" alt="HHS 2011 Brochure Spread" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                The Hamilton Health Sciences executive team was

                                proud of their new strategic plan and hired Tenzing to

                                brand it for 10,000 employees. Our Orienteering

                                process revealed a very unreceptive audience - the

                                managers, professionals and staff at the hospital had

                                not been consulted. We helped re-create the strategy

                                based on hospital-wide input and it became a huge

                                success.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>