<!-- positioning subpage popup window slideshow -->
<div class="modal fade and carousel slide popup" id="lightbox-positioning-page" tabindex="-1" role="dialog" aria-hidden="true" data-interval="false">
    <!-- Controls -->
    <a class="left carousel-control" href="#lightbox-positioning-page" role="button" data-slide="prev">
        <div class="left-arrow"></div>
    </a>
    <a class="right carousel-control" href="#lightbox-positioning-page" role="button" data-slide="next">
        <div class="right-arrow"></div>
    </a>
    <!-- Close -->
    <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close" title="lightbox close button"></a>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Wrapper for slides -->
                <div class="carousel-inner positioning-page" role="listbox">
                    <div class="item active pop-img-container">
                        <img class="lazy" src="/templates/dist/img/gallery/NClean_Orange_PrintAd_1407x875.png" alt="Nature Clean orange girl" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                In a sea of packaged goods green-washing, Nature

                                Clean differentiated itself in the household cleaning

                                sector by challenging the status quo and positioning

                                as a leader with family-safe, naturally formulated

                                products. Positioning as a leader in this case meant

                                replacing all the talk with action.
                            </p>

                        </div>

                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/NClean_Pregnant_PrintAd_1407x875.png" alt="Nature Clean pregnant woman" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                In a sea of packaged goods green-washing, Nature

                                Clean differentiated itself in the household cleaning

                                sector by challenging the status quo and positioning

                                as a leader with family-safe, naturally formulated

                                products. Positioning as a leader in this case meant

                                replacing all the talk with action.
                            </p>
                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <div class="videoWrapper">
                            <a href="javascript:void(0)" class="video-play-button">
                                <img class="lazy" data-original="/templates/dist/img/video-play.svg" alt="Video play button" width="70" height="70"/>
                            </a>
                            <iframe class="video" data-src="https://player.vimeo.com/video/55531909?api=1" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="carousel-caption">
                            <p>
                                In a sea of packaged goods green-washing, Nature

                                Clean differentiated itself in the household cleaning

                                sector by challenging the status quo and positioning

                                as a leader with family-safe, naturally formulated

                                products. Positioning as a leader in this case meant

                                replacing all the talk with action.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/MISS_EDO_Web_1407x875.png" alt="Mississauga Human race website" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Mississauga Economic Development competes with a

                                hundreds of large cities globally. They have similar

                                attributes and position as all things to all people -

                                which is no position at all. We helped Mississauga

                                pick a single point of difference and positioned them

                                as a world-leading talent pool of well-educated,

                                culturally diverse people. Mississauga was awarded a

                                Gold Medal for Marketing by the International

                                Economic Development Association in 2015.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/MISS_EDO_Ads_1407x875.png" alt="Mississauga print advert" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Mississauga Economic Development competes with a

                                hundreds of large cities globally. They have similar

                                attributes and position as all things to all people -

                                which is no position at all. We helped Mississauga

                                pick a single point of difference and positioned them

                                as a world-leading talent pool of well-educated,

                                culturally diverse people. Mississauga was awarded a

                                Gold Medal for Marketing by the International

                                Economic Development Association in 2015.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/MISS_EDO_Ad_Horz_1407x875.png" alt="Mississauga Ad Horz" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Mississauga Economic Development competes with a

                                hundreds of large cities globally. They have similar

                                attributes and position as all things to all people -

                                which is no position at all. We helped Mississauga

                                pick a single point of difference and positioned them

                                as a world-leading talent pool of well-educated,

                                culturally diverse people. Mississauga was awarded a

                                Gold Medal for Marketing by the International

                                Economic Development Association in 2015.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/MISS_EDO_Brochure_1407x875.png" alt="Mississauga EDO Brochure" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Mississauga Economic Development competes with a

                                hundreds of large cities globally. They have similar

                                attributes and position as all things to all people -

                                which is no position at all. We helped Mississauga

                                pick a single point of difference and positioned them

                                as a world-leading talent pool of well-educated,

                                culturally diverse people. Mississauga was awarded a

                                Gold Medal for Marketing by the International

                                Economic Development Association in 2015.
                            </p>

                        </div>
                    </div>
                    <div class="item pop-img-container">
                        <img class="lazy" data-original="/templates/dist/img/gallery/MISS_EDO_Brochure_Spread_1407x875.png" alt="Mississauga Brochure Spread" width="1407" height="875"/>

                        <div class="carousel-caption">
                            <p>
                                Mississauga Economic Development competes with a

                                hundreds of large cities globally. They have similar

                                attributes and position as all things to all people -

                                which is no position at all. We helped Mississauga

                                pick a single point of difference and positioned them

                                as a world-leading talent pool of well-educated,

                                culturally diverse people. Mississauga was awarded a

                                Gold Medal for Marketing by the International

                                Economic Development Association in 2015.
                            </p>

                        </div>
                    </div>
                </div>

                <!-- Indicators -->
                <ol class="carousel-indicators positioning-page" style="height:30px;">
                    <li data-target="#lightbox-positioning-page" data-slide-to="0" class="active"></li>
                    <li data-target="#lightbox-positioning-page" data-slide-to="1"></li>
                    <li data-target="#lightbox-positioning-page" data-slide-to="2"></li>
                    <li data-target="#lightbox-positioning-page" data-slide-to="3"></li>
                    <li data-target="#lightbox-positioning-page" data-slide-to="4"></li>
                    <li data-target="#lightbox-positioning-page" data-slide-to="5"></li>
                    <li data-target="#lightbox-positioning-page" data-slide-to="6"></li>
                    <li data-target="#lightbox-positioning-page" data-slide-to="7"></li>
                </ol>
            </div>
            <!-- /.modal-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>