<!-- brading subpage popup window slideshow -->
<div class="modal fade and carousel slide popup" id="lightbox-spending-page" tabindex="-1" role="dialog" aria-hidden="true" data-interval="false">
    <!-- Close -->
    <a class="close pop-close-icon" data-dismiss="modal" aria-label="Close" title="lightbox close button"></a>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="lazy-loading" src="/templates/dist/img/ajax-loader.gif" alt="Loader">

                <!-- Wrapper for slides -->
                <div class="carousel-inner spending-page" role="listbox">
                    <div class="item active pop-img-container">
                        <img class="lazy" data-src="/templates/dist/img/spending/RUS_Suite-Sheet.png" alt="Russell U.S thumbnail sheet" width="1548" height="875"/>
                        <div class="carousel-caption">
                            <p>
                                Russell Investments wanted a global brand that would speak to all cultures in all markets and be flexible enough to adapt as markets changed. Projects like this often take on a life of their own and seem never- ending. Tenzing helped Russell (Seattle) move from a stand-still to a working solution in about a month.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-body -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>