<div id="branding-mobile-page" class="modal fade mobile-modal" data-backdrop="false">
    <a href="#" class="mobile-close" close-target="#branding-mobile-page" data-id="branding" data-dismiss="modal" title="mobile content close button"></a>

    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">branding</h1>
        <div class="mobile-text-div">
            <p>
                Branding is not a fad nor is it new. It is equal parts

                science, art and behavioral intuition that are focused

                on creating and sustaining differentiated, loyalty-

                inspiring, high-margin organizations, products and

                services. Anything less and you're just making logos.

                Fortunately, we do those too.
            </p>
            <p>
                Over the last three decades or so, Tenzing has invented brands from scratch, revitalized tired brand
                promises and re-engaged stakeholders in brand communications from the inside out. Our work has been
                recognized internationally, nationally and within specific sectors for excellence. Probably more important,
                our work has helped our clients exceed their goals in almost every case. <a class="content-link" href="javascript:void(0)" data-toggle="modal" data-target=".modal#contact">Which we'd be pleased to share with you at your convenience.</a>
            </p>
        </div>
        <div class="mobile-img-show">
            {% include 'tiles/branding.html' %}
        </div>
        <!-- end of mobile-img-show-->
    </div>
</div>
	          
	          
	          