<!-- Modal fullscreen -->
<div id="engaging-mobile-page" class= "modal fade mobile-modal" >
        <a href="#" class="mobile-close" close-target="#engaging-mobile-page"></a>
         <div class="mobile-page-content">
          <h1 class="mobile-title text-uppercase">engaging</h1>
          <div class="mobile-text-div">Pushing one-way messages at your market only

			works if anyone is listening. Sadly, with all the noise 
			
			out there, few people are. And besides, who looks at 
			
			advertising or PR anymore? News flash: No one ever 
			
			looked at advertising and few ever trusted spin. But 
			
			people do notice what interests or inspires them. 
			
			Creating powerful, motivating 'conversations and 
			
			stories' to engage employees and customers equally 
			
			is how brands grow from awareness to advocacy.
       <br/><br/>
       
  



          </div>
          
       <div class="mobile-img-show">
          <div id="engaging-mobile-img-show" class="carousel slide" data-ride="carousel">
	
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active mobile-pop" >
		      <img src="http://placehold.it/280x260">
		    </div>
		    
		  </div>
        </div>
        
       
     </div><!-- end of mobile-img-show-->
        
        
      </div>
</div>