<div id="engaging-mobile-page" class="modal fade mobile-modal" data-backdrop="false">
    <a href="#" class="mobile-close" close-target="#engaging-mobile-page" data-id="engaging" data-dismiss="modal" title="mobile content close button"></a>
    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">engaging</h1>
        <div class="mobile-text-div">
            <p>
                Pushing one-way messages at your market only

                works if anyone is listening. Sadly, with all the noise

                out there, few people are. And besides, who looks at

                advertising or PR anymore? News flash: No one ever

                looked at advertising and few ever trusted spin. But

                people do notice what interests or inspires them.

                Creating powerful, motivating 'conversations and

                stories' to engage employees and customers equally

                is how brands grow from awareness to advocacy.
            </p>
            <p>
                Research that reveals genuine gaps and opportunities, audience-relevant value propositions, brand stories
                and design that compel an emotive response, and communications that inspire action are Tenzing's tools of
                mass and micro disruption. The engagement that happens as a result is the foundation of sales, donations or
                any other quantitative metric you wish to apply.
            </p>
        </div>

        <div class="mobile-img-show">
            {% include 'tiles/engaging.html' %}
        </div>
    </div>
</div>