<div id="engaging-mobile-page" class="modal fade mobile-modal" data-backdrop="false">
    <a href="#" class="mobile-close" close-target="#engaging-mobile-page" data-id="engaging" data-dismiss="modal"></a>
    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">engaging</h1>
        <div class="mobile-text-div">
            Pushing one-way messages at your market only

            works if anyone is listening. Sadly, with all the noise

            out there, few people are. And besides, who looks at

            advertising or PR anymore? News flash: No one ever

            looked at advertising and few ever trusted spin. But

            people do notice what interests or inspires them.

            Creating powerful, motivating 'conversations and

            stories' to engage employees and customers equally

            is how brands grow from awareness to advocacy.
            <br /><br />

        </div>

        <div class="mobile-img-show">
            <div id="engaging-page-mobile" class="carousel slide subpage" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators subpageindi engaging-page">
                    <li data-target="#engaging-page-mobile" data-slide-to="0" class="active"></li>
                    <li data-target="#engaging-page-mobile" data-slide-to="1"></li>
                    <li data-target="#engaging-page-mobile" data-slide-to="2"></li>
                    <li data-target="#engaging-page-mobile" data-slide-to="3"></li>
                    <li data-target="#engaging-page-mobile" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner engaging-page" role="listbox">
                    <div class="item active">
                        <div data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="0"
                             class="slide-container">
                            <img src="/templates/dist/img/gallery/NCU_PS_WebsiteNing_1407x875.jpg"/>
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="1"
                             class="slide-container">
                            <img src="/templates/dist/img/gallery/NCU_PS_Postcard_1407x875.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="2"
                             class="slide-container">
                            <img src="/templates/dist/img/gallery/CWL_2014spring_Website_1407x875.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="3"
                             class="slide-container">
                            <img src="/templates/dist/img/gallery/CWL_2015spring_Ad_1407x875.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-engaging-page" data-toggle="modal" data-slide-to="4"
                             class="slide-container">
                            <img id="vimeo-142881734" src="" alt="CWL Video"/>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#engaging-page" role="button" data-slide="prev">
                    <div class="left-arrow"></div>
                </a>
                <a class="right carousel-control" href="#engaging-page" role="button" data-slide="next">
                    <div class="right-arrow"></div>
                </a>
            </div>
        </div>
    </div>
</div>