<!-- Modal fullscreen -->
<div id="gallery-legacy-mobile-page" class= "modal fade mobile-modal" >
        <a href="#" class="mobile-close" close-target="#gallery-legacy-mobile-page"></a>
        <div class="mobile-page-content">
          <h2>gallery-legacy-mobile-page</h2>
          <p>Because we're a tad shy when it comes to self-promotion, some visitors are shocked by the business results, strategic scope and creative chutzpah, designs, web wisdom, advertising, social mobilization, moving video and Sherpa-like dexterity of our quaint but excessively competent brand and communications boutique in (but not limited by) downtown Toronto and London. </p>
        
        
        
        
        </div>
</div>