<div id="gallery-legacy-mobile-page" class="modal fade mobile-modal" data-backdrop="static">
    <a href="#" class="mobile-close utility" close-target="#gallery-legacy-mobile-page" data-id="gallery-legacy" data-dismiss="modal"></a>

    <div class="mobile-page-content">
        <h2>Gallery</h2>
        <p class="text-uppercase sub-content">
            Tenzing invents, guides, creates and deploys, on average, about 200 brands, campaigns, programs and projects
            peryear. In that spirit, there isn't enough bandwidth this side of NASA to show you all the stuff and clients
            we'veloved along the way. So we'll build out this section of our site over the next while and try to keep it slim
            enough to enjoy over a cup of tea.</p>

        <div class="gallery-container gallerypage">
            <img class="loading-icon" src="/templates/dist/img/loading.gif" alt="Loading image"/>
        </div>
        <br/ >

        <h4 class="text-uppercase">Legacy</h4>
        <p>Tenzing was born in London, Ontario in 1989, expanded to Toronto in 1992, went fully-digital in 1999, made
           theMarketing Top 50 Agency list in 2005, acquired Campbell Michener Lee in 2008, and earned best-in-world
           recognition for Emerging Media, Fairs and Exhibitions advertising, financial services web sites, economic
           development programs, communications strategy and creative and design and a Cassie Award (among the toughest
           inthe world to win) for advertising that works. Tenzing currently employs 17 Sherpa and occupies two lovely
           offices - Toronto and London.</p>
    </div>
</div>