<div id="humanchanneling-mobile-page" class="modal fade mobile-modal" data-backdrop="false">
    <a href="#" class="mobile-close" close-target="#humanchanneling-mobile-page" data-id="humanchanneling" data-dismiss="modal" title="mobile content close button"></a>

    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">human<br />channeling</h1>

        <div class="mobile-text-div">The more friends you make on the way to market, the

                                     easier it is to find new ones when you get there. This

                                     is the Human Channel™: a client-tailored process that

                                     engages your people in brand ownership, and utilizes

                                     the business and personal networks of your

                                     stakeholders as media. We believe organizations now

                                     prosper or fail based on the capacity to mobilize

                                     stakeholders as external advocates. Human

                                     Channel™ is our social media path; only our

                                     approach has metrics and business outcomes.
            <br /><br />
        </div>

        <div class="mobile-img-show">
            <div id="humanpage-mobile" class="carousel slide mobile" data-ride="carousel" data-interval='false'>
                <!-- Indicators -->
                <ol class="carousel-indicators subpageindi human-page">
                    <li data-target="#humanpage-mobile" data-slide-to="0" class="active"></li>
                    <li data-target="#humanpage-mobile" data-slide-to="1"></li>
                    <li data-target="#humanpage-mobile" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner human-page" role="listbox">
                    <div class="item active">
                        <div data-target="#lightbox-human-page" data-toggle="modal" data-slide-to="0"
                             class="slide-container">
                            <img class="lazy" src="/templates/dist/img/gallery/CMHA_FB_1407x875.jpg" alt="CHMA facebook" width="1407" height="875"/>
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-human-page" data-toggle="modal" data-slide-to="1"
                             class="slide-container">
                            <img class="lazy" data-original="/templates/dist/img/gallery/SJH_IOH_Poster_1407x875.jpg" alt="ST JOES in our house" width="1407" height="875"/>
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-human-page" data-toggle="modal" data-slide-to="2"
                             class="slide-container">
                            <span class="video-play-icon"></span>
                            <img class="lazy" data-original="/templates/dist/img/video-thumbnails/st_thomas-thumbnail.jpg" alt="ST. THOMAS TV" width="1280" height="720" />
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#human-page" role="button" data-slide="prev">
                    <div class="left-arrow"></div>
                </a>
                <a class="right carousel-control" href="#human-page" role="button" data-slide="next">
                    <div class="right-arrow"></div>
                </a>
            </div>

        </div>
        <!-- end of mobile-img-show-->
    </div>
</div>