<div id="humanchanneling-mobile-page" class="modal fade mobile-modal" data-backdrop="false">
    <a href="#" class="mobile-close" close-target="#humanchanneling-mobile-page" data-id="humanchanneling"
       data-dismiss="modal" title="mobile content close button"></a>

    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">human<br />channeling</h1>

        <div class="mobile-text-div">
            <p>
                <em>The more friends you make on the way to market, the

                    easier it is to find new ones when you get there.</em>
                This is the Human Channel™: a client-tailored process that

                engages your people in brand ownership, and utilizes

                the business and personal networks of your

                stakeholders as media. We believe organizations now

                prosper or fail based on the capacity to mobilize

                stakeholders as external advocates. Human

                Channel™ is our social media path; and our

                approach comes with metrics and business outcomes.
                Imangine that!
            </p>
        </div>

        <div class="mobile-img-show">
            {% include 'tiles/humanchanneling.html' %}
        </div>
        <!-- end of mobile-img-show-->
    </div>
</div>