<!-- Modal fullscreen -->
<div id="integrating-mobile-page" class= "modal fade mobile-modal" >
        <a href="#" class="mobile-close" close-target="#integrating-mobile-page"></a>
        <div class="mobile-page-content">
          <h1 class="mobile-title text-uppercase">integrating</h1>
          <div class="mobile-text-div">Mastering all communications skills and media is not

					optional. Conversely, managing all kinds of different 
					
					experts to orchestrate a single brand is only for the 
					
					bloated (or bravely naive). The world is collaborative, 
					
					dynamic and integrated. So is Tenzing: One team per 
					
					client, delivering single-minded brands and content 
					
					across all channels.
       <br/><br/>
       
  



          </div>
          
       <div class="mobile-img-show">
          <div id="integrating-mobile-img-show" class="carousel slide" data-ride="carousel">
	
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active mobile-pop" >
		      <img src="http://placehold.it/280x260">
		    </div>
		    
		  </div>
        </div>
        
       
     </div><!-- end of mobile-img-show-->
        
        
      </div>
</div>