<div id="orienteering-mobile-page" class="modal fade mobile-modal" data-backdrop="false">
    <a href="#" class="mobile-close" close-target="#orienteering-mobile-page" data-id="orienteering"
       data-dismiss="modal" title="mobile content close button"></a>

    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">orienteering</h1>

        <div class="mobile-text-div">
            <p>
                Tenzing Orienteering works from the inside out to

                help stakeholders discover a mutually achievable path

                to brand delivery. It's like a series of revival meetings

                for staff, leadership and influencers. The

                conversations are grounded in research, confidential

                if required, often blunt, and always engaging. We

                inspire brand ownership and then guide the human

                effort required to go to market as one. Tenzing

                Orienteering is to facilitation what Jackson Pollock is

                to paint-by-numbers.
            </p>
            <p>
                Tenzing's Orienteering process has been applied to public organizations like The City of Mississauga and
                Bruce County, healthcare organizations including Hamilton Health Sciences and The Canadian Mental Health
                Association, and in the private sector with companies such as Baker and McKenzie LLP, CGA Canada and SNC
                Lavalin. Orienteering is the first step in mobilizing your human channel.
            </p>
        </div>

        <div class="mobile-img-show">
            {% include 'tiles/orienteering.html' %}
        </div>
    </div>
</div>