<div id="orienteering-mobile-page" class= "modal fade mobile-modal" data-backdrop="static">
        <a href="#" class="mobile-close" close-target="#orienteering-mobile-page" data-id="orienteering" data-dismiss="modal"></a>
        <div class="mobile-page-content">
          <h1 class="mobile-title text-uppercase">orienteering</h1>
          <div class="mobile-text-div">Tenzing Orienteering works from the inside out to

				help stakeholders discover a mutually achievable path 
				
				to brand delivery. It's like a series of revival meetings 
				
				for staff, leadership and influencers. The 
				
				conversations are grounded in research, confidential 
				
				if required, often blunt, and always engaging. We 
				
				inspire brand ownership and then guide the human 
				
				effort required to go to market as one. Tenzing 
				
				Orienteering is to facilitation what Jackson Pollock is 
				
				to paint-by-numbers.
       <br/><br/>
       
  



          </div>
          
       <div class="mobile-img-show">
          <div id="orienteering-mobile-img-show" class="carousel slide" data-ride="carousel">
	
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active mobile-pop" >
		      <img src="http://placehold.it/280x260">
		    </div>
		    
		  </div>
        </div>
        
       
     </div><!-- end of mobile-img-show-->
        
        
      </div>
</div>