<div id="orienteering-mobile-page" class="modal fade mobile-modal" data-backdrop="false">
    <a href="#" class="mobile-close" close-target="#orienteering-mobile-page" data-id="orienteering"
       data-dismiss="modal"></a>

    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">orienteering</h1>

        <div class="mobile-text-div">Tenzing Orienteering works from the inside out to

                                     help stakeholders discover a mutually achievable path

                                     to brand delivery. It's like a series of revival meetings

                                     for staff, leadership and influencers. The

                                     conversations are grounded in research, confidential

                                     if required, often blunt, and always engaging. We

                                     inspire brand ownership and then guide the human

                                     effort required to go to market as one. Tenzing

                                     Orienteering is to facilitation what Jackson Pollock is

                                     to paint-by-numbers.
            <br /><br />
        </div>

        <div class="mobile-img-show">
            <div id="orienteering-page-mobile" class="carousel slide subpage" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators subpageindi orienteering-page">
                    <li data-target="#orienteering-page-mobile" data-slide-to="0" class="active"></li>
                    <li data-target="#orienteering-page-mobile" data-slide-to="1"></li>
                    <li data-target="#orienteering-page-mobile" data-slide-to="2"></li>
                    <li data-target="#orienteering-page-mobile" data-slide-to="3"></li>
                    <li data-target="#orienteering-page-mobile" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner orienteering-page" role="listbox">
                    <div class="item active">
                        <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="0"
                             class="slide-container">
                            <img src="/templates/dist/img/gallery/Bruce_Website_1407x875.jpg"/>
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="1"
                             class="slide-container">
                            <img src="/templates/dist/img/gallery/Bruce_2015_MasterToolKit_1407x875.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="2"
                             class="slide-container">
                            <img src="/templates/dist/img/gallery/Bruce_2015_Ktown_BlBrd_1407x875.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="3"
                             class="slide-container">
                            <img src="/templates/dist/img/gallery/HHS_2011_Brochure_Cover_1407x875.jpg" />
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-orienteering-page" data-toggle="modal" data-slide-to="4"
                             class="slide-container">
                            <img src="/templates/dist/img/gallery/HHS_2011_Brochure_Spread_1407x875.jpg" />
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#orienteering-page" role="button" data-slide="prev">
                    <div class="left-arrow"></div>
                </a>
                <a class="right carousel-control" href="#orienteering-page" role="button" data-slide="next">
                    <div class="right-arrow"></div>
                </a>
            </div>
        </div>
    </div>
</div>