<div id="personalities-bios-mobile-page" class="modal fade mobile-modal" data-backdrop="static">
    <a href="#" class="mobile-close utility" close-target="#personalities-bios-mobile-page" data-id="personalities-bios" data-dismiss="modal"></a>

    <div class="mobile-page-content">
        <h2>Personalities</h2>

        <div class="mobile-text-div">We are moms and dads, brothers and sisters,

                                     partners and spouses, runners and cultural activists,

                                     curious intellects, simply curious, always interested,

                                     rarely still, canoeists and cyclists, educated and

                                     street-tested, wonderfully diverse, writers and artists

                                     and thinkers all. Tenzing culture is one of inclusion.

                                     And living fully is always the first item on our to-do

                                     lists.
            <br /><br />
        </div>
        <div class="mobile-img-show">
            <div id="mobile-accordion-container" class="bio-container" style="width:100%;"></div>
        </div>
        <!-- end of mobile-img-show-->
    </div>
</div>