<div id="positioning-mobile-page" class="modal fade mobile-modal" data-backdrop="false">
    <a href="#" class="mobile-close" close-target="#positioning-mobile-page" data-id="positioning" data-dismiss="modal" title="mobile content close button"></a>

    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">positioning</h1>

        <div class="mobile-text-div">
            <p>
                Years ago, two smart guys (Al Ries & Jack Trout)

                wrote a book about positioning. In a world now filled

                to the ozone with undifferentiated, competing

                products and services, and endless, fragmented

                media tactics, their advice is now biblical. We suggest

                you either practice the art of positioning for preference

                through differentiation or prepare to drop your

                margins.
            </p>
            <p>
                Tenzing has created unique positioning strategies in financial services, business and professional services,
                technology, healthcare, economic development, consumer products and retail. Oddly enough, though, most of
                our relationships don't start there. A prospective client typically starts by asking us to make an ad or
                shoot a film or produce a web site. That reflects the current state of our industry - everyone wants the
                tactical stuff. We respond with a few questions; like what will make the ad, the film or the web site
                unique? What's your value proposition? Do your staff know your value proposition? The light comes on, we
                step back together, we find the position that results in preference - and then we produce the ads, the films
                and the web sites. Funny how that works (out so well).
            </p>
        </div>

        <div class="mobile-img-show">
            <div id="positioning-page-mobile" class="carousel slide mobile" data-ride="carousel" data-interval='false'>
                <!-- Indicators -->
                <ol class="carousel-indicators subpageindi positioning-page">
                    <li data-target="#positioning-page-mobile" data-slide-to="0" class="active"></li>
                    <li data-target="#positioning-page-mobile" data-slide-to="1"></li>
                    <li data-target="#positioning-page-mobile" data-slide-to="2"></li>
                    <li data-target="#positioning-page-mobile" data-slide-to="3"></li>
                    <li data-target="#positioning-page-mobile" data-slide-to="4"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner positioning-page" role="listbox">
                    <div class="item active">
                        <div data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="0"
                             class="slide-container">
                            <img class="lazy" src="/templates/dist/img/gallery/NClean_Orange_PrintAd_1407x875.jpg" alt="Nature Clean orange girl" width="1407" height="875"/>
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="1"
                             class="slide-container">
                            <img class="lazy" data-original="/templates/dist/img/gallery/NClean_Pregnant_PrintAd_1407x875.jpg" alt="Nature Clean pregnant woman" width="1407" height="875"/>
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="2"
                             class="slide-container">
                            <span class="video-play-icon"></span>
                            <img class="lazy" data-original="/templates/dist/img/video-thumbnails/nclean-thumbnail.jpg" alt="NClean TV story board" width="295" height="166"/>
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="3"
                             class="slide-container">
                            <img class="lazy" data-original="/templates/dist/img/gallery/MISS_EDO_Web_1407x875.jpg" alt="Mississauga Human race website" width="1407" height="875"/>
                        </div>
                    </div>
                    <div class="item">
                        <div data-target="#lightbox-positioning-page" data-toggle="modal" data-slide-to="4"
                             class="slide-container">
                            <img class="lazy" data-original="/templates/dist/img/gallery/MISS_EDO_Ads_1407x875.jpg" alt="Mississauga print advert" width="1407" height="875"/>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#positioning-page" role="button" data-slide="prev">
                    <div class="left-arrow"></div>
                </a>
                <a class="right carousel-control" href="#positioning-page" role="button" data-slide="next">
                    <div class="right-arrow"></div>
                </a>
            </div>
        </div>
    </div>
</div>