<div id="spending-mobile-page" class="modal fade mobile-modal">
    <a href="#" class="mobile-close" close-target="#spending-mobile-page" data-id="spending"></a>

    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">spending</h1>

        <div class="mobile-text-div">We don't watch the clock. We don't do time sheets.

                                     We don't have handlers and overseers. We are

                                     teams. We are seamless between disciplines: digital

                                     and traditional, strategy and deployment, design and

                                     content, between joy and jumping off-grid for

                                     weekends. For all these reasons, spending time and

                                     budget with Tenzing is a more rewarding experience.
            <br /><br />

        </div>

        <div class="mobile-img-show">
            <div id="spending-mobile-img-show" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active mobile-pop">
                        <img src="http://placehold.it/280x260">
                    </div>

                </div>
            </div>


        </div>
        <!-- end of mobile-img-show-->


    </div>
</div>