<div id="surprising-mobile-page" class="modal fade mobile-modal" data-backdrop="false" role="dialog">
    <a href="#" class="mobile-close" close-target="#surprising-mobile-page" data-id="surprising"
       data-dismiss="modal"></a>

    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">surprising</h1>

        <div class="mobile-text-div">Because we're a tad shy when it comes to self-

                                     promotion, first-time visitors to this site are astonished

                                     by the business results, strategic scope and creative

                                     chutzpah, designs, web wisdom, advertising, social

                                     mobilization, moving video and Sherpa-like dexterity

                                     of our quaint but excessively competent brand /

                                     communications boutique in Toronto and London.

                                     Sorry about that. We'll make more noise in the future.
            <br /><br />
            <a href="https://www.facebook.com/" target="_blank" style="position:relative;display:inline;"
               class="sub-link">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 29 29" style="enable-background:new 0 0 29 29; width:29px; height:29px; position:absolute; top:-20px;" xml:space="preserve">
	<metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
	<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c067 79.157747, 2015/03/30-23:40:42        ">
	   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
	      <rdf:Description rdf:about=""/>
	   </rdf:RDF>
	</x:xmpmeta>
	<?xpacket end="w"?></metadata>
	<style type="text/css">
		.sub-face {
            fill : #FFBD4F;
        }
	</style>
	<g>
	<path class="sub-face" d="M18.1,14.5h-2.3c0,3.7,0,8.4,0,8.4h-3.5c0,0,0-4.6,0-8.4h-1.7v-3h1.7V9.6c0-1.4,0.7-3.5,3.5-3.5l2.6,0V9
		c0,0-1.6,0-1.9,0c-0.3,0-0.7,0.2-0.7,0.8v1.7h2.7L18.1,14.5z"/>
	<g>
		<path class="sub-face" d="M26.2,2.2c0.3,0,0.6,0.3,0.6,0.6v23.3c0,0.3-0.3,0.6-0.6,0.6H2.8c-0.3,0-0.6-0.3-0.6-0.6V2.8
			c0-0.3,0.3-0.6,0.6-0.6H26.2 M26.2,0H2.8C1.3,0,0,1.3,0,2.8v23.3C0,27.7,1.3,29,2.8,29h23.3c1.6,0,2.8-1.3,2.8-2.8V2.8
			C29,1.3,27.7,0,26.2,0L26.2,0z"/>
	</g>
   </g>
   </svg>
                <div style="display:inline-block; margin-left:40px; color:#77777a;"> Join us on Facebook and get the
                                                                                     lowdown on what we're up to.
                </div>
            </a>


        </div>

        <div class="mobile-img-show">
            <div id="surprising-mobile-img-show" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active mobile-pop">
                        <img src="/templates/dist/img/branding/Libro_Website_309px273p.jpg">
                    </div>

                </div>
            </div>
        </div>
        <!-- end of mobile-img-show-->


    </div>


</div>