<div id="whoswho-mobile-page" class="modal fade mobile-modal" data-backdrop="false">
    <a href="#" class="mobile-close" close-target="#whoswho-mobile-page" data-id="whoswho" data-dismiss="modal" title="mobile content close button"></a>

    <div class="mobile-page-content">
        <h1 class="mobile-title text-uppercase">whoswho</h1>

        <div class="mobile-text-div">We do important work for hospitals, financial

                                     institutions, retailers, municipalities, business-to-

                                     business companies, tech companies, not-for-profits,

                                     consumer products, b2b services and the good of

                                     humankind as often as we can.
            <br /><br />
            <a href="#" style="position:relative;display:inline-block; height: 27px;" class="sub-link whoswho-link"
               data-target=".modal#current-client" data-toggle="modal">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 30 27" style="enable-background:new 0 0 29 29; width:29px; height:29px; display: inline-block; top:-10px;" xml:space="preserve">
<metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c067 79.157747, 2015/03/30-23:40:42        ">
   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
      <rdf:Description rdf:about=""/>
   </rdf:RDF>
</x:xmpmeta>
<?xpacket end="w"?></metadata>
<style type="text/css">
	.sub-face {
        fill : #F7A800;
    }
</style>
<g>
	<path class="sub-face" d="M30,13.4c-0.9,0-1.8,0-2.7,0c0-0.5-0.1-0.9-0.1-1.3c-0.1-1.5-0.6-3-1.2-4.4c-0.8-1.6-1.8-3-3.1-4.2
		c-1.9-1.7-4-2.7-6.5-3.2C15.1,0,13.9-0.1,12.7,0c-2.7,0.2-5.1,1-7.2,2.6C3,4.5,1.4,6.8,0.5,9.7c-0.4,1.5-0.6,3-0.5,4.6
		c0.2,2.8,1.2,5.2,3,7.4c2.1,2.5,4.8,4.1,8,4.8c1.1,0.2,2.3,0.3,3.4,0.2c2.7-0.2,5.2-1,7.4-2.7c0.5-0.4,1-0.8,1.4-1.2
		c0.6-0.5,0.5-1.4,0-1.9c-0.5-0.5-1.4-0.5-1.9,0c-1.6,1.5-3.5,2.6-5.7,2.9c-3.2,0.6-6.2-0.1-8.8-2.1c-2.1-1.6-3.5-3.8-4-6.4
		c-0.6-3.2,0.1-6.2,2.3-8.8c1.7-2.1,3.9-3.3,6.6-3.8c3.2-0.5,6,0.2,8.6,2.1c2.1,1.6,3.5,3.8,4,6.4c0.1,0.7,0.2,1.3,0.2,2
		c-0.9,0-1.8,0-2.8,0c1.4,1.8,2.7,3.6,4.1,5.3c0.5-0.6,0.9-1.2,1.4-1.8c0.9-1.1,1.7-2.2,2.6-3.4C29.9,13.5,29.9,13.5,30,13.4
		C30,13.4,30,13.4,30,13.4z"/>
	<path class="sub-face" d="M13.6,13.4c0.7,0,1.3,0,1.9,0c0.7,0,1.4,0,2.1,0c0.6,0,1.2,0.5,1.3,1.1c0.1,0.7-0.2,1.3-0.9,1.5
		C18,16,17.8,16,17.6,16c-1.7,0-3.4,0-5.1,0c-0.6,0-1.1-0.2-1.4-0.8c-0.1-0.2-0.1-0.5-0.1-0.7c0-2.6,0-5.1,0-7.7
		c0-0.8,0.5-1.5,1.3-1.5c0.8,0,1.4,0.6,1.4,1.4c0,2.1,0,4.3,0,6.4C13.6,13.2,13.6,13.3,13.6,13.4z"/>
</g>
</svg>
            <span style="display: inline-block;
    margin-left: 5px;
    margin-top: -25px;
    vertical-align: middle;">WHO Currently</span>
            </a>

            <br /><br />

            <a href="#" style="position:relative;display:inline-block;height: 27px;" class="sub-link whoswho-link"
               data-target=".modal#legacy-client" data-toggle="modal">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 30 27" style="enable-background:new 0 0 29 29; width:29px; height:29px; display: inline-block; top:-10px;" xml:space="preserve">
<metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c067 79.157747, 2015/03/30-23:40:42        ">
   <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
      <rdf:Description rdf:about=""/>
   </rdf:RDF>
</x:xmpmeta>
<?xpacket end="w"?></metadata>
<style type="text/css">
	.sub-face {
        fill : #F7A800;
    }
</style>
<g>
	<path class="sub-face" d="M0,13.5c0.9,0,1.8,0,2.7,0c0-0.5,0.1-0.9,0.1-1.3c0.1-1.6,0.6-3,1.2-4.4c0.8-1.6,1.8-3,3.1-4.2
		c1.9-1.7,4-2.8,6.5-3.3C14.9,0,16.1-0.1,17.3,0c2.7,0.2,5.1,1.1,7.2,2.7c2.4,1.8,4.1,4.2,5,7.1c0.4,1.5,0.6,3.1,0.5,4.6
		c-0.2,2.8-1.2,5.3-3,7.5c-2.1,2.6-4.8,4.2-8,4.8C17.9,27,16.7,27,15.6,27c-2.7-0.2-5.2-1-7.4-2.7c-0.5-0.4-1-0.8-1.4-1.2
		c-0.6-0.5-0.5-1.4,0-1.9c0.5-0.5,1.4-0.5,1.9,0c1.6,1.6,3.5,2.6,5.7,3c3.2,0.6,6.2-0.1,8.8-2.1c2.1-1.7,3.5-3.8,4-6.4
		c0.6-3.3-0.1-6.3-2.3-8.9c-1.7-2.1-3.9-3.4-6.6-3.8C15.1,2.3,12.2,3,9.6,5c-2.1,1.6-3.5,3.8-4,6.4c-0.1,0.7-0.2,1.3-0.2,2.1
		c0.9,0,1.8,0,2.8,0c-1.4,1.8-2.7,3.6-4.1,5.4c-0.5-0.6-0.9-1.2-1.4-1.8C1.9,16,1,14.8,0.2,13.7C0.1,13.6,0.1,13.6,0,13.5
		C0,13.5,0,13.5,0,13.5z"/>
	<path class="sub-face" d="M16.4,13.5c0.7,0,1.3,0,1.9,0c0.7,0,1.4,0,2.1,0c0.6,0,1.2,0.5,1.3,1.1c0.1,0.7-0.2,1.3-0.9,1.5
		c-0.2,0.1-0.4,0.1-0.6,0.1c-1.7,0-3.4,0-5.1,0c-0.6,0-1.1-0.2-1.4-0.8c-0.1-0.2-0.1-0.5-0.1-0.7c0-2.6,0-5.2,0-7.8
		c0-0.9,0.5-1.5,1.3-1.5c0.8,0,1.4,0.6,1.4,1.4c0,2.2,0,4.3,0,6.5C16.4,13.3,16.4,13.4,16.4,13.5z"/>
</g>
</svg>
            <span style="display: inline-block;
    margin-left: 5px;
    margin-top: -25px;
    vertical-align: middle;">WHO Legacy</span>
            </a>
        </div>

        <div class="mobile-img-show">
            <a href="#" data-target=".modal#current-client" data-toggle="modal">
                <img class="lazy" src="/templates/dist/img/554x237/TZ_WhosWho_554x237.jpg" alt="Our clients" width="554" height="237"/>
            </a>
        </div>
    </div>
</div>