</div>
</div>

<script src="/templates/dist/js/bootstrap.min.js"></script>
<script src="/templates/dist/js/TweenMax.min.js"></script>
<script src="/templates/dist/js/jquery.navgoco.js"></script>
<script src="/templates/dist/js/jquery.cookie.js"></script>
<script src="/templates/dist/js/history.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
<script src="/templates/dist/js/jquery-imagefill.js"></script>

<script type='text/javascript' src='/templates/src/js/main.js'></script>
<script type='text/javascript' src='/templates/src/js/gallery.js'></script>
<script type='text/javascript' src='/templates/src/js/modal.js'></script>

</body>
</html>