{% include 'header.html' %}

<div class="entry-content">
	<div class="main-menu">
		<ul>
		    {% for page in pageList %}
		       <li class="item">
		           {% if page.pageName == 'whoswho'%}
		           <a href="{{page.pageUrl}}" onclick="return false;" id="{{page.pageName}}">whos<span class="grey">who<span></a>
		           {% elseif page.pageName == 'humanchanneling' %}
		           <a href="{{page.pageUrl}}" onclick="return false;" id="{{page.pageName}}">human<span class="grey">channel</span>ing</a>
		           {% else %}
		           <a href="{{page.pageUrl}}" onclick="return false;" id="{{page.pageName}}">{{page.pageName}}</a>
		           {% endif %}

		           <div class="page-content">
		                <a href="#" class="sub-close-icon"></a>
		                {% include page.pageTemplateUrl ignore missing %}
		           </div>
		       </li>
		    {% endfor %}
		</ul>
	</div>

    <!-- Display utility pages -->
	{% for page in utilityPageList %}
		{% include page.pageTemplateUrl ignore missing %}
	{% endfor %}
</div>

<div class="mobile-content visible-xs">
      <div class="mobile-main-menu">
         <ul class="mobile-main-ul">
             {% for page in pageList %}
              <li class="mobile-item">
		           {% if page.pageName == 'whoswho'%}
		           <a href="{{page.pageUrl}}" id="{{page.pageName}}-mobile" data-target="#whoswho-mobile-page">whos<span class="grey">who<span></a>
		           {% elseif page.pageName == 'humanchanneling' %}
		           <a href="{{page.pageUrl}}" id="{{page.pageName}}-mobile" data-target="#humanchanneling-mobile-page">human<br/><span class="grey">channel</span>ing</a>
		           {% else %}
		           <a href="{{page.pageUrl}}" id="{{page.pageName}}-mobile" data-target="#{{page.pageName}}-mobile-page">{{page.pageName}}</a>
		           {% endif %}
		       </li>
             {% endfor%}
         </ul>
      </div>
      
      <div class="mobile-main-indicator">
         <ol class="mobile-indicator-ol">
             {% for page in pageList %}
              <li class="mobile-indicator-item" indicator-target="{{page.pageName}}-mobile"></li>
             {% endfor%}
         </ol>
      </div>
  
  	{% for page in mobilePageList %}
		{% include page.pageTemplateUrl ignore missing %}
	{% endfor %}
     
    {% for page in mobileUtilityPageList %}
		{% include page.pageTemplateUrl ignore missing %}
	{% endfor %} 
     
      
</div>
 <!-- Display moble pages -->

{% include 'footer.html' %}