{% include 'header.html' %}

<div class="entry-content">
	<div class="main-menu hidden-xs">
		<ul>
		    {% for page in pageList %}
		       <li class="item">
		           {% if page.pageName == 'whoswho'%}
		           <a href="{{page.pageUrl}}" onclick="return false;" id="{{page.pageName}}" class="main-menu-item">whos<span class="grey">who</span></a>
		           {% elseif page.pageName == 'humanchanneling' %}
		           <a href="{{page.pageUrl}}" onclick="return false;" id="{{page.pageName}}" class="main-menu-item">human<span class="grey">channel</span>ing</a>
		           {% else %}
		           <a href="{{page.pageUrl}}" onclick="return false;" id="{{page.pageName}}" class="main-menu-item">{{page.pageName}}</a>
		           {% endif %}

		           <div class="page-content">
		                <a href="#" class="sub-close-icon" tabindex="-1" title="sub content close button"></a>
		                {% include page.pageTemplateUrl ignore missing %}
		           </div>
		       </li>
		    {% endfor %}
		</ul>
	</div>
</div>

<div class="mobile-content visible-xs">
      <div class="mobile-main-menu">
         <ul class="mobile-main-ul">
             {% for page in pageList %}
              <li class="mobile-item">
		           {% if page.pageName == 'whoswho'%}
		           <a href="{{page.pageUrl}}" id="{{page.pageName}}-mobile" data-target=".modal#whoswho-mobile-page" data-toggle="modal"  class="main-menu-item">whos<span class="grey">who<span></a>
		           {% elseif page.pageName == 'humanchanneling' %}
		           <a href="{{page.pageUrl}}" id="{{page.pageName}}-mobile" data-target=".modal#humanchanneling-mobile-page" data-toggle="modal"  class="main-menu-item">human<br/><span class="grey">channel</span>ing</a>
		           {% else %}
		           <a href="{{page.pageUrl}}" id="{{page.pageName}}-mobile" data-target=".modal#{{page.pageName}}-mobile-page" data-toggle="modal" class="main-menu-item">{{page.pageName}}</a>
		           {% endif %}
		       </li>
             {% endfor%}
         </ul>
      </div>
      
      <div class="mobile-main-indicator">
         <ol class="mobile-indicator-ol">
             {% for page in pageList %}
              <li class="mobile-indicator-item" indicator-target="{{page.pageName}}-mobile"></li>
             {% endfor%}
         </ol>
      </div>

  	{% for page in mobilePageList %}
		{% include page.pageTemplateUrl ignore missing %}
	{% endfor %}

</div>
 <!-- Display mobile pages -->
<div class="utility-page-container">
	<!-- Display utility pages -->
	{% for page in utilityPageList %}
	{% include page.pageTemplateUrl ignore missing %}
	{% endfor %}
</div>

<div class="lightbox-container">
	{% for page in pageList %}
		{% include page.lightboxTemplateUrl ignore missing %}
	{% endfor %}
	{% include 'lightboxes/spending.html' %}
</div>

{% include 'carousels/gallery.html' %}

<div class="content-box-container">
	{% include 'content-box/who-currently.html' %}
	{% include 'content-box/who-legacy.html' %}
	{% include 'content-box/story-tenzing.html' %}
</div>

{% include 'footer.html' %}