.tile-container {
    display: inline-block;
    margin: 0;
    .tile-item {
        display       : block;
        margin        : 7px 0 7px 7px;

        position      : relative;
        cursor        : pointer;

        width: 119px;
        height: 119px;

        float: left;

        overflow: hidden;

        .video-play-icon {
            display    : block;
            background : url("/templates/dist/img/video-play.svg") no-repeat;
            width      : 70px;
            height     : 70px;
            position   : absolute;
            top        : calc(50% - 36px);
            left       : calc(50% - 36px);
        }

        &:before {
            background : none;
            transition : all .3s linear;
        }

        &:hover {
            &:before {
                content    : "";
                display    : block;
                position   : absolute;
                top        : 0;
                bottom     : 0;
                left       : 0;
                right      : 0;
                background : rgba(247, 168, 0, 0.5);
                transition : all .3s linear;
            }

        }
    }
}