$yellow: #f7a800;
$grey-background: rgba(85, 85, 85, 0.5);
$yellow-background: rgba(247, 168, 0, 0.5);

.imageVideo {
    position: relative;
    overflow: hidden;
    height: auto;

    .image-wrap {
        /* Set our transitions up. */
        -webkit-transition: height 0.5s;
        -moz-transition: height 0.5s;
        transition: height 0.5s;
        .image-container {
            width: 100%;
            height :auto;
            position: absolute;
            opacity: 0;
            overflow: hidden;

            /* Set our transitions up. */
            @include transition-all(0.25s);

            .image-item {
                @include transition-all(0.2s);
            }

            &:first-child {
                opacity: 1;
            }
        }
    }

    .pause-button {
        position: absolute;
        left: 10px;
        bottom :20px;
        z-index :999;
        text-indent: -999999px;
        width: 30px;
        height: 30px;
        border :none;
        background : url("/templates/dist/img/slider-video-play.svg") no-repeat;
        cursor: pointer;
        background-color: $grey-background;
        padding-bottom: 29px;
        border-radius: 5px;

        -webkit-transition : background-color 0.5s ease;
        -moz-transition    : background-color 0.5s ease;
        -ms-transition     : background-color 0.5s ease;
        -o-transition      : background-color 0.5s ease;
        transition         : background-color 0.5s ease;

        &.playing {
            background : url("/templates/dist/img/slider-video-stop.svg") no-repeat;
            background-color: $grey-background;
            padding-bottom: 30px;
            border-radius: 5px;

            &:hover {
                background-color: $yellow-background;
            }
        }

        &:hover {
            background-color: $yellow-background;
        }
    }
}

////////////////~640px////////////////////////
@media screen and (max-width : 639px) {
    .imageVideo {
        position: relative;
        overflow: hidden;
        height: 100%;
        margin-top: 5px;

        .image-wrap {
            .image-container {
                width: 100%;
                position: absolute;
                opacity: 0;
                overflow: hidden;

                .image-item {
                    max-width: 100% !important;
                }
            }
        }


    }

}